<swiper [slidesPerView]="1" [spaceBetween]="0" [navigation]="true" [scrollbar]="{ draggable: true }">
    <ng-template swiperSlide class="animate__animated animate__fadeIn">
        <div class="row">
            <img src="">
            <h1> Tr'aide Learning </h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, quisquam dolorum alias veritatis, <br>deleniti. Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </ng-template>
    <ng-template swiperSlide class="animate__animated animate__fadeIn">
        <div class="row">
            <img src="">
            <h1> Tr'aide Learning </h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, quisquam dolorum alias veritatis, <br>deleniti. Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </ng-template>
    <ng-template swiperSlide class="animate__animated animate__fadeIn">
        <div class="row">
            <img src="">
            <h1> Tr'aide Learning </h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae, quisquam dolorum alias veritatis, <br>deleniti. Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </ng-template>
</swiper>