/*/
  INFORMATIONS :
- LES COMMENTAIRES DU CSS SERONT AFFICHES COMME CELA
/*/


/*/
    DEBUT DU CODE CSS AVEC LA BALISE BODY
/*/

body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*/
  LE SLIDE SHOW DU COVER DEBUT
/*/

.indexSlide {
    width: 100%;
    height: 100vh;
    background: #323232;
    opacity: 1;
    transition: 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
}

.fadeOut {
    opacity: 0;
    z-index: -1;
}

.indexSlide:nth-child(1) {
    background-image: url("../ressources/img/ASS-index1.jpg");
}

.indexSlide:nth-child(2) {
    background-image: url("../ressources/img/ASS-index2.jpg");
}

.indexSlide:nth-child(3) {
    background-image: url("../ressources/img/ASS-index3.jpg");
}

.indexSlide:nth-child(4) {
    background-image: url("../ressources/img/ASS-index1.jpg");
}

.indexSlide:nth-child(5) {
    background-image: url("../ressources/img/ASS-index2.jpg");
}

.indexSlide:nth-child(6) {
    background-image: url("../ressources/img/ASS-index3.jpg");
}


/*/
  LE SLIDE SHOW DU COVER FIN
/*/


/*/
  LE LOGO ET LE TEXTE DESCRIPTIF DEBUT
/*/

.indexText {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: linear-gradient(180deg, #008d0d78, #245586);
}

.indexText .logo {
    height: 130px;
    width: 130px;
    border-radius: 80px;
    border: 5px solid #dcdcdc;
    padding: 10px;
}

.logoBlock {
    padding-top: 20px;
}

.logoBlock div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textBlock {
    height: 50vh;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    color: #dcdcdc;
}

.textBlock h1 {
    font-size: 70px;
    margin-bottom: 40px;
    color: #dcdcdc;
}

.Pboutton {
    margin-top: 25px;
    border: none;
    border-radius: 25px;
    display: inline-block;
    padding: 14px 28px 13px 28px;
    width: 200px;
    line-height: 15px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .3s;
    text-align: center;
    background: #008d0d;
}

.Pboutton a {
    color: white;
    text-decoration: none;
    display: block;
}


/*/
  LE LOGO ET LE TEXTE DESCRIPTIF FIN
/*/


/*/
  ITEMS DES SERVICES DEBUT
/*/

.serviceList {
    width: 75%;
    margin-left: 12.5%;
}

.serviceItem {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #dcdcdc;
}

.serviceItem p {
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}

.serviceItem2 {
    height: 100%;
}

.serviceItem3 {
    height: 100%;
}

.ItemImg {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background: rgb(143, 77, 77);
    padding: 20px;
}

.judIMG {
    background: #004978;
}

.jucIMG {
    background: #ec1c24;
}

.drIMG {
    background: #008d0d;
}

.prIMG {
    background: #b16004;
}


/*/
  ITEMS DES SERVICES FIN
/*/


/*/
    FULL RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN
/*/


/*/
  ORDINATEUR DE PLUS DE 12.5 POUCES (LG)
/*/

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    /*/
    ITEMS DES SERVICES DEBUT
  /*/
    .serviceList {
        width: 80%;
        margin-left: 10%;
    }
}


/*/
    TABLETTES DE 10.33 POUCES MAXIMUM (MEDIUM)
/*/

@media only screen and (max-width: 992px) {
    /*/
    LE LOGO ET LE TEXTE DESCRIPTIF DEBUT
  /*/
    .textBlock p {
        padding-left: 40px;
        padding-right: 40px;
    }
    /*/
    LE LOGO ET LE TEXTE DESCRIPTIF FIN
  /*/
    /*/
    ITEMS DES SERVICES DEBUT
  /*/
    .serviceList {
        width: 85%;
        margin-left: 7.5%;
    }
    /*/
    ITEMS DES SERVICES FIN
  /*/
}


/*/
  TABLETTES DE 8 POUCES MAXIMUM (SMALL)
/*/

@media only screen and (max-width: 768px) {
    /*/
    LE LOGO ET LE TEXTE DESCRIPTIF DEBUT
  /*/
    .textBlock {
        height: 50vh;
        flex-direction: column;
        text-align: center;
        font-size: 20px;
        color: #dcdcdc;
    }
    .textBlock h1 {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 55px;
        margin-bottom: 27px;
    }
    .textBlock p {
        font-size: 1.1rem;
    }
    /*/
    LE LOGO ET LE TEXTE DESCRIPTIF FIN
  /*/
    /*/
    ITEMS DES SERVICES DEBUT
  /*/
    .serviceList {
        width: 90%;
        margin-left: 5%;
    }
    /*/
    ITEMS DES SERVICES FIN
  /*/
}


/*/
    SMARTPHONES DE 6 POUCES MAXIMUM (EXTRA SMALL)
/*/

@media screen and (max-width: 570px) {
    /*/
    LE LOGO ET LE TEXTE DESCRIPTIF DEBUT
  /*/
    .logoBlock {
        padding-top: 50px;
    }
    .textBlock h1 {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 60px;
        margin-bottom: 0px;
    }
    .textBlock .textBlockdetails {
        display: none;
    }
    /*/
    LE LOGO ET LE TEXTE DESCRIPTIF FIN
  /*/
    /*/
    ITEMS DES SERVICES DEBUT
  /*/
    .serviceList {
        width: 98%;
        margin-left: 1%;
    }
    .serviceItem p {
        display: none;
    }
    /*/
    ITEMS DES SERVICES FIN
  /*/
}