/*/
  INFORMATIONS :
- LES COMMENTAIRES DU CSS SERONT AFFICHES COMME CELA
/*/


/*/
  DEBUT DU CODE CSS AVEC LA BALISE BODY
/*/

body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.7);
    overflow-x: hidden;
}

.contentContainer {
    padding: 0px;
}


/*/
  MENU PRINCIPAL ; COVER ET MENU DE DETAILS
/*/


/*/
  NAVBAR : TOUT CE QUI EST CONTENU DANS LA NAVBAR
/*/

.navbar-top {
    background: linear-gradient(90deg, #008d0d, #336699);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 40;
}

.logo-de-ngboado-dans-la-navbar {
    border-radius: 50%;
}

.nom-de-ngboado-a-cote-du-logo {
    font-weight: bold;
    font-size: 1rem;
}

.image-rounded {
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}

.icon-session {
    margin-left: 8px;
}


/*/
  NAVBAR : TOUT CE QUI EST CONTENU DANS LA NAVBAR FIN
/*/


/*/
    DROPDOWN DE DECONNEXION
/*/

.dropdown-deconnexion {
    height: 60vh;
    background: transparent;
    border: none;
    width: 50%;
    left: 25%;
    position: fixed;
    top: 28vh;
    z-index: 45;
    display: none;
}


/**/

.modal-header-deconnexion {
    height: 20%;
    border-color: transparent;
    cursor: pointer;
}

.bi-x {
    color: white;
    cursor: pointer;
}


/**/

.modal-body-deconnexion {
    height: 80%;
    padding-top: 5%;
    padding-left: 0rem;
    overflow: none;
}

.blocItemDeconnexion {
    justify-content: center;
    align-items: center;
}

.itemBlocDeconnexion2>h6 {
    color: white;
    margin-top: 15px;
}

.itemImgBlocDeconnexion {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 1px solid #F4F4F4;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.itemImgDec {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}


/*/
  MENU MODAL DEBUT
/*/

.couverture-du-menu-modal {
    background: rgba(39, 55, 70, .7);
    position: fixed;
    left: 0%;
    top: 0px;
    width: 200%;
    height: 110vh;
    z-index: 42;
    display: none;
}

.menuModal {
    height: 60vh;
    background: transparent;
    border: none;
    width: 90%;
    left: 5%;
    position: fixed;
    top: 28vh;
    z-index: 45;
    display: none;
}


/**/

.modal-header {
    height: 20%;
    border-color: transparent;
    border: none;
}

.modal-header>button {
    margin-top: -5%;
}

.modal-header>button>span {
    color: white;
}


/**/

.modal-body {
    height: 80%;
    padding-top: 5%;
    padding-left: 0rem;
    overflow: hidden;
}

.blocItem {
    justify-content: center;
    align-items: center;
}

.itemBloc,
.itemBloc2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemBloc2>h6 {
    color: white;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemImgBloc {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 1px solid #F4F4F4;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.itemImgBloc:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.itemImg {
    height: 60px;
    width: 60px;
}


/*/
  MENU MODAL FIN
/*/


/*carousel top*/

.row_two {
    margin-left: 0px;
}

.slide1,
.slide2,
.slide3 {
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
}

.text {
    text-align: center;
    margin-top: 40vh;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

.h2 {
    font-size: 1.6rem;
}

.slide1 {
    background-image: linear-gradient(90deg, #3d952b67, #000000d9), url('../ressources/img/ASS-hero15.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade1 15s infinite;
}

.slide2 {
    background-image: linear-gradient(90deg, #3d952b67, #000000d9), url('../ressources/img/ASS-ProcedureItem.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade2 15s infinite;
}

.slide3 {
    background-image: linear-gradient(90deg, #3d952b67, #000000d9), url('../ressources/img/ASS-hero15.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    animation: fade3 15s infinite;
}

@keyframes fade1 {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade2 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fade3 {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/*EXPLAIN MENU*/

.detailsMenu {
    background: linear-gradient(90deg, #3D952B, #336699);
    color: white;
    overflow: hidden;
    padding: 15px 0px;
    margin-top: 100vh;
}

.detailsDiv {
    padding-bottom: 5px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
}

.detailsDiv div {
    height: 100%;
    width: 97%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.detailsImg {
    height: 6.5vh;
    width: 6.5vh;
}

.detailsImgsmall {
    height: 8.5vh;
    width: 8.5vh;
}

.detailsTitle {
    font-size: 1.2rem;
    text-align: center;
    padding-top: 10px;
}

.details {
    font-size: 0.9rem;
    text-align: justify;
}


/*END OF EXPLAIN MENU*/


/*/
  MENU PRINCIPAL ; COVER ET MENU DE DETAILS FIN
/*/


/*/
  ASSISTANCE JUDICIAIRE DEBUT
/*/


/*IMAGE ILLUSTRATIVE ET TITRE*/

.becomeAnLegalAssistanteRequest {
    height: 720px;
}

.becomeAnLegalAssistanteRequest h3 {
    margin: 35px 0px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.becomeAnLegalAssistanteRequest .detailsTitle {
    margin: 35px 0px;
}

.imgCol2 {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.becomeAnLegalAssistanteRequest .requestImage {
    background: url("../ressources/img/ASS-hero17.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
}

.imgCol2-2 {
    display: none;
}

.containerRequestImageMobile {
    background: url("../ressources/img/ASS-hero17.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}


/* FORM*/

.reqCol2 {
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

.becomeAnLegalAssistanteRequest .requestForm {
    background-image: linear-gradient(to right top, #2c3e50, #1d4455, #074a54, #004f4f, #0b5345);
    padding-top: 20px;
    color: white;
    height: 100%;
    margin: 0px;
}

.becomeAnLegalAssistanteRequest .requesteurInfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.requestForm label {
    /********* tout les " labels " sont maintenant comme des "DIV" *******************/
    width: 30%;
    margin: 25px auto 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.requestForm label p {
    font-size: 14px;
    font-weight: bold;
}

.requestForm input {
    display: block;
    height: 34px;
    border: 1.4px solid white;
    border-radius: 3px;
    outline: none;
    background: transparent;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: white;
    font-size: 14px;
    text-align: center;
    width: 100%;
}

.requestForm select {
    display: block;
    height: 34px;
    width: 80%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: normal;
    border: 1.4px solid white;
    border-radius: 3px;
    text-align: center;
    color: white;
    background: transparent;
    width: 100%;
}

.requestForm textarea {
    border: 1px solid white;
    width: 100%;
    border-radius: 3px;
    background: transparent;
    color: white;
}

.submitdiv {
    display: flex;
    margin-top: 10px;
    margin-left: 40%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.submitdiv button,
.submitdiv button:hover {
    background: #3D952B;
    border-color: #3D952B;
}


/* Who Request Is It */

.WhoRequestIsIt {
    text-align: center;
    margin-top: 5vh;
}

.WhoRequestIsIt h4 {
    font-size: 16px;
}

.WhoRequestIsItOptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
    line-height: 30px;
    font-size: 14px;
    margin-left: 25%;
    margin-top: 25px;
}

.WhoRequestIsItOptions>div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.WhoRequestIsItOptions>div>p {
    margin-right: 15px;
}

.option {
    height: 30px;
    width: 31px;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
}

.myself {
    background: transparent;
}

.myself img {
    height: 100%;
    width: 100%;
}

.otherpeople {
    background: transparent;
}

.otherpeople img {
    height: 100%;
    width: 100%;
    display: none;
}


/*Concerned Information*/

.ConcernedInfo {
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/*END Of Concerned Information*/


/* END OF BECOME AN LEGAL ASSISTANTE REQUEST*/


/*/
  DOCUMENT A FOURNIR DEBUT
/*/

.leccconteii {
    color: gray;
}

.documentTobring {
    height: 100px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}

.documentTobring h2 {
    margin: auto 0;
    color: #4A4B4B;
    font-size: 1.8rem;
}

.conditionItemBox {
    margin-bottom: 50px;
    height: 500px;
    justify-content: center;
}

.conditionItemBox>.row {
    width: 75%;
}

.serviceBox {
    height: 100%;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.serviceBox:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.serviceBox>h5 {
    color: #4A4B4B;
}

.serviceBoxBottom {
    margin-top: 40px;
    height: 85%;
}

.serviceNumberTitile {
    font-size: 2.5rem;
    color: #019939;
    font-weight: bold;
}

.hr-div {
    margin-top: 5vh;
}

.text-service {
    font-size: 0.8rem;
    color: #4A4B4B;
    margin-top: 25px;
}

.serviceBoxDifferent {
    background: linear-gradient(to right top, #2c3e50, #1d4455, #074a54, #004f4f, #0b5345);
}

.serviceBoxDifferent>h5 {
    color: white;
}

.serviceNumberTitileDifferent,
.text-service-different {
    color: white;
}

.hrDifferent {
    border-color: white;
}


/*/
  DOCUMENT A FOURNIR FIN
/*/


/*/
  NOS CABINETS PARTENAIRES DEBUT
/*/

.swiper-container {
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
    margin-top: -30px;
}

.swiper-wrapper {
    margin-left: -38%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    height: 200px;
    padding: 20px;
    margin-bottom: 50px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.PartnerContainer {
    justify-content: center;
    align-items: center;
}

.partnerBloc,
.partnerName {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgPartnerBloc {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    border: 1px solid #F4F4F4;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.imgPartnerBloc:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.partner {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.partnerName {
    margin-top: 13px;
}

.partnerName>h2 {
    font-size: 1.4rem;
}


/*/
  NOS CABINETS PARTENAIRES FIN
/*/


/*/
	MODAL INFORMATION SUR UN ASSISTANT DEBUT 
/*/

.cabinetModalInformations {
    max-height: 80vh;
    margin-top: 10vh;
}

.modal-dialog-centered,
.modal-content {
    height: 100%;
}

.modal-header {
    height: 35%;
    border-color: white;
}

.modal-header-2,
.modal-header-deconnexion {
    height: 20%;
    border-color: transparent;
}

.block-header {
    width: 60%;
    margin-left: 20%;
    margin-top: 0vh;
}

.imgPartnerBlocModal {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid #F4F4F4;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 23%;
}

.imgPartnerBlocModal:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.partnerModal {
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

.partnerNameModal {
    margin-top: 13px;
}

.partnerNameModal>h2 {
    text-align: center;
    font-size: 1.5rem;
    color: #4A4B4B;
}

.modal-body {
    max-height: 50%;
    overflow-y: auto;
    padding: 20px;
}

.modal-body>p {
    font-size: 0.9rem;
}

.modal-footer {
    height: 15%;
    border-color: white;
}

.modal-footer>button {
    margin-top: -5%;
}

.modal-footer>button>span {
    color: #004f4f;
}


/*/
	MODAL INFORMATION SUR UN ASSISTANT FIN
/*/


/*/
  COPYRIGHT
/*/

.copyText {
    text-align: center;
    color: #4A4B4B;
    font-size: 0.8rem;
}


/*/
  SCROLL BARRE
/*/


/* width */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border: 1px solid white;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #004f4f;
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #004f4f;
}


/*/
  FULL RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN
/*/


/*/
ORDINATEUR DE PLUS DE 12.5 POUCES (LG)
/*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /*/
		DROPDOWN DE DECONNEXION
	/*/
    .dropdown-deconnexion {
        width: 60%;
        left: 20%;
    }
    .itemImgBlocDeconnexion {
        height: 100px;
        width: 100px;
    }
    .itemImgDec {
        height: 65px;
        width: 65px;
    }
    /*EXPLAIN MENU*/
    .detailsImg {
        height: 5.5vh;
        width: 5.5vh;
    }
    .detailsImgsmall {
        height: 7vh;
        width: 7vh;
    }
    .detailsTitle {
        font-size: 1.1rem;
        padding-top: 0px;
    }
    .details {
        font-size: 0.8rem;
    }
    /*END OF EXPLAIN MENU*/
    /*/
		CABINETS JURIDIQUE PARTENAIRES DEBUT
	/*/
    .swiper-slide {
        padding: 0px;
    }
    .imgPartnerBloc {
        height: 125px;
        width: 125px;
    }
    .partner {
        height: 90px;
        width: 90px;
    }
    .partnerName>h2 {
        font-size: 1.3rem;
    }
    /*/
		CABINETS JURIDIQUE PARTENAIRES FIN
	/*/
    /*/
		LEGAL ASSISTANCE REQUEST FIN
	/*/
    .requestForm h2,
    .requestForm h3 {
        font-size: 1.5rem;
    }
    /*Who Request Is It*/
    .WhoRequestIsItOptions {
        width: 70%;
        margin-left: 15%;
    }
    /*END Of requesteur personal Information */
    /*Concerned Information*/
    .ConcernedInfo {
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    /*END Of Concerned Information*/
    .submitdiv {
        margin-left: 35%;
    }
    /*/
		LEGAL ASSISTANCE REQUEST FIN
	/*/
}


/*/
  TABLETTES DE 10.33 POUCES MAXIMUM (MEDIUM)
/*/

@media only screen and (max-width: 992px) {
    /*/
		DROPDOWN DE DECONNEXION
	/*/
    .dropdown-deconnexion {
        width: 65%;
        left: 17.5%;
    }
    .itemImgBlocDeconnexion {
        height: 100px;
        width: 100px;
    }
    .itemImgDec {
        height: 65px;
        width: 65px;
    }
    /* GENERAL CODE */
    .containerBlock {
        min-width: 100%;
        max-width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .iconMenuPc {
        display: none;
    }
    /*COVER PART DEBUT*/
    .text {
        text-align: center;
        margin-top: 42vh;
    }
    h1 {
        font-size: 2.5rem;
        font-weight: bold;
    }
    .h2 {
        font-size: 1.3rem;
    }
    /*END OF THE COVER PART*/
    /*EXPLAIN MENU*/
    .detailsMenu {
        background: linear-gradient(to right top, #2c3e50, #1d4455, #074a54, #004f4f, #0b5345);
        ;
        color: white;
        overflow: hidden;
        padding: 15px 0px;
    }
    .detailsImg {
        height: 5.5vh;
        width: 5.5vh;
    }
    .detailsImgsmall {
        height: 7vh;
        width: 7vh;
    }
    .detailsTitle {
        font-size: 1rem;
        padding-top: 0px;
    }
    .details {
        font-size: 0.75rem;
    }
    /*END OF EXPLAIN MENU*/
    /*/
		LEGAL ASSISTANCE REQUEST
	/*/
    /*IMAGE*/
    .imgCol2 {
        display: none;
    }
    .imgCol2-2 {
        display: block;
    }
    /*/
		DOCUMENT A FOURNIR DEBUT
  	/*/
    .leccconteii {
        margin-top: 430px;
    }
    .documentTobring h2 {
        font-size: 1.5rem;
    }
    .conditionItemBox>.row {
        width: 85%;
    }
    /*/
		DOCUMENT A FOURNIR DEBUT
	/*/
    /*/
		CABINETS JURIDIQUE PARTENAIRES DEBUT
	/*/
    .swiper-container {
        width: 100%;
    }
    .swiper-wrapper {
        margin-left: -30%;
    }
    .swiper-pagination {
        margin-left: 0%;
    }
    .imgPartnerBloc {
        height: 125px;
        width: 125px;
    }
    .partner {
        height: 90px;
        width: 90px;
    }
    .partnerName>h2 {
        font-size: 1.1rem;
    }
    /*/
		CABINETS JURIDIQUE PARTENAIRES FIN
	/*/
}


/*/
  TABLETTES DE 8 POUCES MAXIMUM (SMALL)
/*/

@media only screen and (max-width: 768px) {
    /*/
		DROPDOWN DE DECONNEXION
	/*/
    .dropdown-deconnexion {
        width: 80%;
        left: 10%;
    }
    .itemImgBlocDeconnexion {
        height: 105px;
        width: 105px;
    }
    .itemImgDec {
        height: 70px;
        width: 70px;
    }
    /*COVER PART DEBUT*/
    .text {
        text-align: center;
        margin-top: 40vh;
    }
    /*EXPLAIN MENU*/
    .detailsTitle {
        font-size: 1.3rem;
        padding-top: 0px;
    }
    .details {
        font-size: 0.8rem;
    }
    /*END OF EXPLAIN MENU*/
    /*/
		LEGAL ASSISTANCE REQUEST DEBUT
	/*/
    .requestForm h2,
    .requestForm h3 {
        font-size: 1.5rem;
    }
    /*Who Request Is It*/
    .WhoRequestIsItOptions {
        width: 80%;
        margin-left: 10%;
    }
    /*END Of requesteur personal Information */
    /*/
		LEGAL ASSISTANCE REQUEST FIN
	/*/
    /*/
		DOCUMENT A FOURNIR DEBUT
	/*/
    .documentTobring h2 {
        font-size: 1.5rem;
    }
    .conditionItemBox>.row {
        width: 95%;
    }
    /*/
		DOCUMENT A FOURNIR DEBUT
	/*/
    /*/
		CABINETS JURIDIQUE PARTENAIRES DEBUT
  	/*/
    .CabinetPartnersContainer {
        margin-top: 100px;
    }
    .swiper-container {
        width: 150%;
    }
    .swiper-wrapper {
        margin-left: -42%;
    }
    .swiper-pagination {
        margin-left: -17%;
    }
    .imgPartnerBloc {
        height: 100px;
        width: 100px;
    }
    .partner {
        height: 70px;
        width: 70px;
    }
    .partnerName>h2 {
        font-size: 1rem;
    }
    /*/
		CABINETS JURIDIQUE PARTENAIRES FIN
	/*/
    /* BOUTTON ENVOIE DES FORMULAIRES */
    .submitdiv {
        margin-left: 35%;
    }
}


/*/
  SMARTPHONES DE 6 POUCES MAXIMUM (EXTRA SMALL)
/*/

@media screen and (max-width: 575px) {
    .nom-de-ngboado-a-cote-du-logo {
        display: none;
    }
    /*/
		DROPDOWN DE DECONNEXION
	/*/
    .dropdown-deconnexion {
        width: 85%;
        left: 7.5%;
    }
    .itemBlocDeconnexion2>h6 {
        display: none;
    }
    .itemImgBlocDeconnexion {
        height: 95px;
        width: 95px;
    }
    .itemImgDec {
        height: 60px;
        width: 60px;
    }
    /*//*/
    .itemImgBloc {
        height: 90px;
        width: 90px;
    }
    .itemImg {
        height: 40px;
        width: 40px;
    }
    .itemBloc2 {
        display: none;
    }
    /*/
		DOCUMENTS A FOURNIR DEBUT
	/*/
    .serviceBoxBottom {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 55px;
    }
    .serviceBoxContainerLatest {
        margin-bottom: 0px;
        margin-top: -30px;
    }
    .serviceBoxContainer {
        margin-bottom: 40px;
    }
    /*/
		DOCUMENTS A FOURNIR FIN
	/*/
    /*/
		CABINETS JURIDIQUE PARTENAIRES DEBUT
  	/*/
    .CabinetPartnersContainer {
        margin-top: 460px;
    }
    /*/
		CABINETS JURIDIQUE PARTENAIRES FIN
	/*/
}