/*/
  INFORMATIONS :
- LES COMMENTAIRES DU CSS SERONT AFFICHES COMME CELA
/*/


/*/
  DEBUT DU CODE CSS AVEC LA BALISE BODY
/*/

body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.7);
    overflow-x: hidden;
}


/*/
  NAVBAR : TOUT CE QUI EST CONTENU DANS LA NAVBAR
/*/

.navbar-top {
    background: linear-gradient(90deg, #008d0d, #336699);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 40;
}

.logo-de-ngboado-dans-la-navbar {
    border-radius: 50%;
}

.nom-de-ngboado-a-cote-du-logo {
    font-weight: bold;
    font-size: 1rem;
}

.image-rounded {
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}

.icon-session {
    margin-left: 8px;
}


/*/
  NAVBAR : TOUT CE QUI EST CONTENU DANS LA NAVBAR FIN
/*/


/*/
    DROPDOWN DE DECONNEXION
/*/

.dropdown-deconnexion {
    height: 60vh;
    background: transparent;
    border: none;
    width: 50%;
    left: 25%;
    position: fixed;
    top: 28vh;
    z-index: 45;
    display: none;
}


/**/

.modal-header-deconnexion {
    height: 20%;
    border-color: transparent;
    cursor: pointer;
}

.bi-x {
    color: white;
    cursor: pointer;
}


/**/

.modal-body-deconnexion {
    height: 80%;
    padding-top: 5%;
    padding-left: 0rem;
    overflow: none;
}

.blocItemDeconnexion {
    justify-content: center;
    align-items: center;
}

.itemBlocDeconnexion2>h6 {
    color: white;
    margin-top: 15px;
}

.itemImgBlocDeconnexion {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 1px solid #F4F4F4;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.itemImgDec {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}


/*/
  MENU MODAL DEBUT
/*/

.couverture-du-menu-modal {
    background: rgba(39, 55, 70, .7);
    position: fixed;
    left: 0%;
    top: 0px;
    width: 200%;
    height: 110vh;
    z-index: 42;
    display: none;
}

.menuModal {
    height: 60vh;
    background: transparent;
    border: none;
    width: 90%;
    left: 5%;
    position: fixed;
    top: 28vh;
    z-index: 45;
    display: none;
}


/**/

.modal-header {
    height: 20%;
    border-color: transparent;
    border: none;
}

.modal-header>button {
    margin-top: -5%;
}

.modal-header>button>span {
    color: white;
}


/**/

.modal-body {
    height: 80%;
    padding-top: 5%;
    padding-left: 0rem;
    overflow: hidden;
}

.blocItem {
    justify-content: center;
    align-items: center;
}

.itemBloc,
.itemBloc2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemBloc2>h6 {
    color: white;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemImgBloc {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 1px solid #F4F4F4;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.itemImgBloc:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.itemImg {
    height: 60px;
    width: 60px;
}


/*/
  MENU MODAL FIN
/*/


/* COVER PART */

.CoverContainer {
    height: 89.5vh;
    overflow: hidden;
}

.Cover {
    height: 92.5vh;
    overflow: hidden;
}

.cover1 {
    background: linear-gradient(90deg, #3d952ba1, #000000d9), url('../ressources/img/ASS-action-brainstorming-business-1282166.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cover2 {
    background: linear-gradient(90deg, #3d952ba1, #000000d9), url('../ressources/img/ASS-hero9.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.cover3 {
    background: linear-gradient(90deg, #3d952ba1, #000000d9), url('../ressources/img/ASS-hero15.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.textSlide {
    text-align: center;
    height: 100%;
    color: white;
    margin-top: 35vh;
}

.title1 {
    margin-top: 0vh;
    font-size: 3rem;
    font-weight: bold;
}

.title2 {
    font-size: 1.6rem;
}


/* END OF THE COVER PART*/


/*MAIN CONTAINER*/

.contentContainer {
    padding: 0px;
}

.menuCol1,
.menuCol2 {
    padding: 0;
}

.menu {
    padding-top: 50px;
    padding-left: 90px;
}

.menu1 {
    background: #357379a6;
    margin: 0px;
}

.menu2 {
    background: #397f60b8;
    margin: 0px;
}

.menu3 {
    background: #397f60b8;
    margin: 0px;
}

.menu4 {
    background: #357379a6;
    margin: 0px;
}

.title {
    font-size: 32px;
    line-height: 44px;
}

.details {
    font-size: 14px;
    line-height: 24px;
    margin-top: 25px;
    width: 70%;
}

.levelBtn {
    background: none;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 15%;
    transition: all .3s ease;
    min-width: 155px;
    border-radius: 25px;
    display: inline-block;
    padding: 14px 28px 13px 28px;
    line-height: 1;
    border: 2px solid #29d9c2;
    font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-color: black;
    color: black;
}

.levelBtn:hover {
    color: black;
    background: transparent;
}


/* END OF MAIN CONTAINER */


/*/
  COPYRIGHT
/*/

.copyText {
    text-align: center;
    color: #4A4B4B;
    font-size: 0.8rem;
    margin-top: 20px;
    margin-bottom: 10px;
}


/*/
    SCROLL BARRE
/*/


/* width */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border: 1px solid white;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #004f4f;
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #004f4f;
}


/*/
    FULL RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN
/*/


/*/
  ORDINATEUR DE PLUS DE 12.5 POUCES (LG)
/*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /*/
		DROPDOWN DE DECONNEXION
	/*/
    .dropdown-deconnexion {
        width: 60%;
        left: 20%;
    }
    .itemImgBlocDeconnexion {
        height: 100px;
        width: 100px;
    }
    .itemImgDec {
        height: 65px;
        width: 65px;
    }
}


/*/
  TABLETTES DE 10.33 POUCES MAXIMUM (MEDIUM)
/*/

@media only screen and (max-width: 992px) {
    /*/
		DROPDOWN DE DECONNEXION
	/*/
    .dropdown-deconnexion {
        width: 65%;
        left: 17.5%;
    }
    .itemImgBlocDeconnexion {
        height: 100px;
        width: 100px;
    }
    .itemImgDec {
        height: 65px;
        width: 65px;
    }
    /* GENERAL CODE */
    .containerBlock {
        min-width: 100%;
        max-width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .iconMenuPc {
        display: none;
    }
    /*THE COVER PART*/
    .textSlide {
        margin-top: 35vh;
    }
    .title1 {
        font-size: 2.5rem;
    }
    .title2 {
        font-size: 1.3rem;
    }
    /* END OF THE COVER PART*/
}


/*/
  TABLETTES DE 8 POUCES MAXIMUM (SMALL)
/*/

@media only screen and (max-width: 768px) {
    /*/
		DROPDOWN DE DECONNEXION
	/*/
    .dropdown-deconnexion {
        width: 80%;
        left: 10%;
    }
    .itemImgBlocDeconnexion {
        height: 105px;
        width: 105px;
    }
    .itemImgDec {
        height: 70px;
        width: 70px;
    }
    /*MAIN CONTAINER*/
    .menu1,
    .menu3 {
        background: #357379a6;
    }
    .menu2,
    .menu4 {
        background: #397f60b8;
    }
}


/*/
  SMARTPHONES DE 6 POUCES MAXIMUM (EXTRA SMALL)
/*/

@media screen and (max-width: 570px) {
    .nom-de-ngboado-a-cote-du-logo {
        display: none;
    }
    /*/
		DROPDOWN DE DECONNEXION
	/*/
    .dropdown-deconnexion {
        width: 85%;
        left: 7.5%;
    }
    .itemBlocDeconnexion2>h6 {
        display: none;
    }
    .itemImgBlocDeconnexion {
        height: 95px;
        width: 95px;
    }
    .itemImgDec {
        height: 60px;
        width: 60px;
    }
    /*//*/
    .itemImgBloc {
        height: 90px;
        width: 90px;
    }
    .itemImg {
        height: 40px;
        width: 40px;
    }
    .itemBloc2 {
        display: none;
    }
}