/*/
  INFORMATIONS :
- LES COMMENTAIRES DU CSS SERONT AFFICHES COMME CELA
/*/


/*/
  DEBUT DU CODE CSS AVEC LA BALISE BODY
/*/

body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: rgba(255, 255, 255, 0.7);
    overflow-x: hidden;
}


/*/
  MENU PRINCIPAL & TITRE MENU SECONDAIRE
/*/


/*/
  NAVBAR : TOUT CE QUI EST CONTENU DANS LA NAVBAR
/*/

.navbar-top {
    background: linear-gradient(90deg, #008d0d, #336699);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 40;
}

.logo-de-ngboado-dans-la-navbar {
    border-radius: 50%;
}

.nom-de-ngboado-a-cote-du-logo {
    font-weight: bold;
    font-size: 1rem;
}

.image-rounded {
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}

.icon-session {
    margin-left: 8px;
}


/*/
  NAVBAR : TOUT CE QUI EST CONTENU DANS LA NAVBAR FIN
/*/


/*/
    DROPDOWN DE DECONNEXION
/*/

.dropdown-deconnexion {
    height: 60vh;
    background: transparent;
    border: none;
    width: 50%;
    left: 25%;
    position: fixed;
    top: 28vh;
    z-index: 45;
    display: none;
}


/**/

.modal-header-deconnexion {
    height: 20%;
    border-color: transparent;
    cursor: pointer;
}

.bi-x {
    color: white;
    cursor: pointer;
}


/**/

.modal-body-deconnexion {
    height: 80%;
    padding-top: 5%;
    padding-left: 0rem;
    overflow: none;
}

.blocItemDeconnexion {
    justify-content: center;
    align-items: center;
}

.itemBlocDeconnexion2>h6 {
    color: white;
    margin-top: 15px;
}

.itemImgBlocDeconnexion {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 1px solid #F4F4F4;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.itemImgDec {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}


/*/
  MENU MODAL DEBUT
/*/

.couverture-du-menu-modal {
    background: rgba(39, 55, 70, .7);
    position: fixed;
    left: 0%;
    top: 0px;
    width: 200%;
    height: 110vh;
    z-index: 42;
    display: none;
}

.menuModal {
    height: 60vh;
    background: transparent;
    border: none;
    width: 90%;
    left: 5%;
    position: fixed;
    top: 28vh;
    z-index: 45;
    display: none;
}


/**/

.modal-header {
    height: 20%;
    border-color: transparent;
}

.modal-header>button {
    margin-top: -5%;
}

.modal-header>button>span {
    color: white;
}


/**/

.modal-body {
    height: 80%;
    padding-top: 5%;
    padding-left: 0rem;
    overflow: none;
}

.blocItem {
    justify-content: center;
    align-items: center;
}

.itemBloc,
.itemBloc2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemBloc2>h6 {
    color: white;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemImgBloc {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 1px solid #F4F4F4;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.itemImgBloc:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.itemImg {
    height: 60px;
    width: 60px;
}


/*/
  MENU MODAL FIN
/*/


/* TITRE MENU SECONDAIRE I */

.SecondariMenuNavBar {
    background: linear-gradient(90deg, #008d0d, #336699);
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.952);
    margin-top: -15px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.SecondariMenuNavBar div {
    font-size: 20px;
    height: 70px;
    line-height: 70px;
    text-align: center;
}


/*/
  COVER DE LA PAGE DEBUT
/*/

.homecover {
    height: 100vh;
    background: linear-gradient(90deg, #008d0d, #0000003d), url("../ressources/img/ASS-homeCover.jpg");
    background-size: cover;
    background-position: center;
}

.homecoverTextContentBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #000000;
}

.homecoverTextContentBox div {
    margin: 0 auto;
}

.homecoverlogoContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 130px;
    width: 130px;
    border-radius: 80px;
    border: 5px solid #dcdcdc;
    padding: 10px;
}

.homecoverdetail {
    text-align: center;
    color: #dcdcdc;
}

.homecoverdetail p:first-child {
    font-size: 55px;
    margin: 40px 0px;
    font-weight: bold;
}

.homecoverdetail p:nth-child(3) {
    margin-top: 50px;
    color: #ded7d7;
    font-weight: bold;
}

.homecoverdetail span {
    font-size: 20px;
    margin: 30px 0px;
    padding: 5px;
    color: white;
    font-weight: bold;
}

.mouseContainer {
    width: 24px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

.mouseContainer .mouse {
    margin-top: 20px;
    border: 2px solid #ffffffa1;
    width: 30px;
    background-color: transparent;
    height: 50px;
    border-radius: 20px;
}

.mouseContainer .mouse .wheel {
    width: 3px;
    height: 3px;
    border: 2px solid #ffffffa1;
    background-color: #ffffffa1;
    position: relative;
    border-radius: 50%;
    left: 50%;
    margin-left: -2px;
    top: 7px;
    -webkit-animation: scroll 1s infinite;
    animation: scroll 1s infinite;
}

@-webkit-keyframes scroll {
    0% {
        top: 6px;
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        top: 20px;
        opacity: 0;
    }
}

@keyframes scroll {
    0% {
        top: 6px;
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        top: 20px;
        opacity: 0;
    }
}


/*/
  COVER DE LA PAGE FIN
/*/


/*/
  LISTE DES SERVICES DEBUT
/*/

.serviceTitleBox {
    height: 100px;
    color: black;
    color: #565151;
    text-align: center;
    margin-top: 20px;
}

.servicexplainBox {
    margin-top: 20px;
    margin-bottom: 70px;
}

.servicexplainBox .col-md-3 {
    height: 250px;
    padding: 0px 5px;
}

.serviceBox {
    height: 100%;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.serviceBox:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.serviceBox>h5 {
    color: #4A4B4B;
}

.serviceNumberTitile {
    font-size: 2.5rem;
    color: #008d0d;
    font-weight: bold;
}

.hr-div {
    margin-top: 5vh;
}

.text-service {
    font-size: 0.8rem;
    color: #4A4B4B;
    margin-top: 25px;
}


/*/
  LISTE DES SERVICES FIN
/*/


/*/
  DEVENIR ASSISTANT JURIDIQUE DEBUT
/*/

.juridiAssistanteBox {
    height: 550px;
    background: linear-gradient(90deg, #3d952b47, #00000000), url("../ressources/img/ASS-juriqAssistante.jpeg");
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
}

.juridiAssistanteContentBox {
    height: 100%;
    background: #293325bd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
}

.conditionBox {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conditionBox h6 {
    font-weight: bold;
}

.conditionBox p {
    font-size: 13px;
}

.conditionBox1 {
    height: 130px;
    background: #0e2214d9
}

.conditionBox img {
    height: 45px;
    width: 45px;
    margin-right: 50px;
    margin-top: -50px;
}

.circle {
    position: absolute;
    top: 59%;
    left: 55%;
    margin-top: 7.1%;
    transform: translate(-50%, -50%);
}


/*assistant animation circle*/

.circle_three {
    position: relative;
    left: 40%;
    margin-top: -1%;
}

.conditionBox span {
    height: 35px;
    width: 35px;
    background-color: white;
    opacity: 0;
    position: absolute;
    left: 0%;
    border-radius: 50%;
    animation: fade 2s infinite linear;
}

.conditionBox span:nth-child(2) {
    animation-delay: 0.2s;
}

.conditionBox span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes fade {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    25% {
        opacity: .5;
        transform: scale(0);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}


/*/
  DEVENIR ASSISTANT JURIDIQUE FIN
/*/


/*/
  CONNAITRE LES PROCEDURES DEBUT
/*/

.procedureBox {
    height: 500px;
    justify-content: center;
    margin-bottom: 30px;
}

.procedureBox .col-md-7 {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #a9c59db8
}

.procedureBox .col-md-7 div {
    color: #565151;
    width: 500px;
}

.procedureBox .col-md-7 div h3 {
    font-weight: bold;
}

.procedureBox .col-md-7 div p:nth-child(2) {
    font-size: 18px;
    margin-bottom: 30px;
}

.procedureExample i {
    font-size: 20px;
    margin-right: 25px;
}

.Ex1 {
    color: #ff5722;
}

.Ex2 {
    color: #3a8945;
}

.Ex3 {
    color: #346c8d;
}

.procedureBox .col-md-5 {
    background: linear-gradient(90deg, #3d952b4b, #00000000), url("../ressources/img/ASS-regina.jpeg");
    background-size: cover;
    background-position: center;
    height: 100%;
}


/*/
  CONNAITRE LES PROCEDURES FIN
/*/


/*/
  LES STATISTIQUES DEBUT
/*/

.statBox {
    margin-bottom: 10px;
}

.statContentBox {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    text-align: center;
}

.statContentBox img {
    height: 70px;
    width: 70px;
}

.statContentBox h1 {
    font-weight: bold;
    font-size: 50px
}

.stat1 {
    background: #357379a6;
}

.stat2 {
    background: #397f60b8;
}


/*/
  LES STATISTIQUES FIN
/*/


/*/
  COPYRIGHT
/*/

.copyText {
    text-align: center;
    color: #4A4B4B;
    font-size: 0.8rem;
    margin-top: 20px;
    margin-bottom: 10px;
}


/*/
    SCROLL BARRE
/*/


/* width */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border: 1px solid white;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #004f4f;
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #004f4f;
}


/*/
    FULL RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN
/*/


/*/
  ORDINATEUR DE PLUS DE 12.5 POUCES (LG)
/*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .homecoverdetail p:first-child {
        font-size: 50px;
    }
    .homecoverdetail p:nth-child(2) {
        font-size: 15px;
    }
    /*/
        DROPDOWN DE DECONNEXION
    /*/
    .dropdown-deconnexion {
        width: 60%;
        left: 20%;
    }
    .itemImgBlocDeconnexion {
        height: 100px;
        width: 100px;
    }
    .itemImgDec {
        height: 65px;
        width: 65px;
    }
    /*/
    LISTE DES SERVICES DEBUT
  /*/
    .serviceBox>h5 {
        font-size: 1rem;
    }
    .serviceNumberTitile {
        font-size: 2rem;
    }
    /*/
    LISTE DES SERVICES FIN
  /*/
    /*/
    DEVENIR ASSISTANT JURIDIQUE DEBUT
  /*/
    .juridiAssistanteContentBox {
        padding-top: 1vh;
    }
    /*/
    DEVENIR ASSISTANT JURIDIQUE FIN
  /*/
}


/*/
  TABLETTES DE 10.33 POUCES MAXIMUM (MEDIUM)
/*/

@media only screen and (max-width: 992px) {
    .homecoverdetail p:first-child {
        font-size: 45px;
    }
    .homecoverdetail p:nth-child(2) {
        font-size: 14px;
    }
    /*/
        DROPDOWN DE DECONNEXION
    /*/
    .dropdown-deconnexion {
        width: 65%;
        left: 17.5%;
    }
    .itemImgBlocDeconnexion {
        height: 100px;
        width: 100px;
    }
    .itemImgDec {
        height: 65px;
        width: 65px;
    }
    /* GENERAL CODE */
    .containerBlock {
        min-width: 100%;
        max-width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .iconMenuPc {
        display: none;
    }
    /*/
    LISTE DES SERVICES DEBUT
  /*/
    .serviceBox>h5 {
        font-size: 0.9rem;
    }
    .serviceNumberTitile {
        font-size: 1.3rem;
    }
    .text-service {
        font-size: 0.75rem;
    }
    /*/
    LISTE DES SERVICES FIN
  /*/
    /*/
    DEVENIR ASSISTANT JURIDIQUE DEBUT
  /*/
    .juridiAssistanteContentBox {
        padding-top: 2vh;
    }
    /*/
    DEVENIR ASSISTANT JURIDIQUE FIN
  /*/
    /*/
    LES STATISTIQUES DEBUT
  /*/
    .statContentBox img {
        height: 65px;
        width: 65px;
        margin-bottom: 10px;
    }
    .statContentBox h1 {
        font-size: 25px
    }
    .statContentBox p {
        font-size: 1rem
    }
    /*/
    LES STATISTIQUES FIN
  /*/
}


/*/
  TABLETTES DE 8 POUCES MAXIMUM (SMALL)
/*/

@media only screen and (max-width: 768px) {
    /*/
    DROPDOWN DE DECONNEXION
  /*/
    .dropdown-deconnexion {
        width: 80%;
        left: 10%;
    }
    .itemImgBlocDeconnexion {
        height: 105px;
        width: 105px;
    }
    .itemImgDec {
        height: 70px;
        width: 70px;
    }
    /* GENERAL CODE */
    .containerBlock {
        min-width: 100%;
        max-width: 100%;
        padding-left: 10%;
        padding-right: 10%;
    }
    /*/
    LISTE DES SERVICES DEBUT
  /*/
    .serviceBox>h5 {
        font-size: 1.1rem;
    }
    .serviceNumberTitile {
        font-size: 2.3rem;
    }
    .text-service {
        font-size: 0.8rem;
    }
    .serviceBoxBottom {
        margin-top: 40px;
    }
    /*/
    LISTE DES SERVICES FIN
  /*/
    /*/
    DEVENIR ASSISTANT JURIDIQUE DEBUT
  /*/
    .AssistantNavBar {
        margin-top: 100px;
    }
    /*/
    DEVENIR ASSISTANT JURIDIQUE FIN
  /*/
    /*/
    LES STATISTIQUES DEBUT
  /*/
    .StatNavBar {
        margin-top: 515px;
    }
    .statContentBox img {
        height: 65px;
        width: 65px;
    }
    .statContentBox h1 {
        font-weight: bold;
        font-size: 38px
    }
    .statChange1 {
        background: #397f60b8;
    }
    .statChange2 {
        background: #357379a6;
    }
    /*/
    LES STATISTIQUES FIN
  /*/
}


/*/
  SMARTPHONES DE 6 POUCES MAXIMUM (EXTRA SMALL)
/*/

@media screen and (max-width: 570px) {
    .nom-de-ngboado-a-cote-du-logo {
        display: none;
    }
    .homecoverdetail p:first-child {
        font-size: 45px;
    }
    .homecoverdetail p:nth-child(2) {
        font-size: 15px;
    }
    /*/
    DROPDOWN DE DECONNEXION
  /*/
    .dropdown-deconnexion {
        width: 85%;
        left: 7.5%;
    }
    .itemBlocDeconnexion2>h6 {
        display: none;
    }
    .itemImgBlocDeconnexion {
        height: 95px;
        width: 95px;
    }
    .itemImgDec {
        height: 60px;
        width: 60px;
    }
    /*//*/
    .itemImgBloc {
        height: 90px;
        width: 90px;
    }
    .itemImg {
        height: 40px;
        width: 40px;
    }
    .itemBloc2 {
        display: none;
    }
    /*/
        LISTE DES SERVICES DEBUT
    /*/
    .serviceBox {
        width: 100%;
    }
    .serviceBox>h5 {
        font-size: 1.5rem;
    }
    .serviceNumberTitile {
        font-size: 2.5rem;
    }
    .text-service {
        font-size: 0.9rem;
    }
    .serviceBoxBottom {
        margin-top: 0px;
    }
    .serviceBoxContainer {
        margin-bottom: 40px;
    }
    .serviceBoxContainerLatest {
        margin-bottom: 0px;
    }
    /*/
    LISTE DES SERVICES FIN
  /*/
    /*/
    DEVENIR ASSISTANT JURIDIQUE DEBUT
  /*/
    .AssistantNavBar {
        margin-top: -30px;
    }
    /*/
    DEVENIR ASSISTANT JURIDIQUE FIN
  /*/
    /*/
    LES STATISTIQUES DEBUT
  /*/
    .statChange1 {
        background: #357379a6;
    }
    .statChange2 {
        background: #397f60b8;
    }
    /*/
    LES STATISTIQUES FIN
  /*/
}