/*/
  INFORMATIONS :
- LES COMMENTAIRES DU CSS SERONT AFFICHES COMME CELA
/*/


/*/
  DEBUT DU CODE CSS AVEC LA BALISE BODY
/*/

body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.contentContainer {
    padding: 0px;
}


/*/
  MENU PRINCIPAL & TITRE MENU SECONDAIRE
/*/


/*/
  NAVBAR : TOUT CE QUI EST CONTENU DANS LA NAVBAR
/*/

.navbar-top {
    background: linear-gradient(90deg, #008d0d, #336699);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 40;
}

.logo-de-ngboado-dans-la-navbar {
    border-radius: 50%;
}

.nom-de-ngboado-a-cote-du-logo {
    font-weight: bold;
    font-size: 1rem;
}

.image-rounded {
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}

.icon-session {
    margin-left: 8px;
}


/*/
  NAVBAR : TOUT CE QUI EST CONTENU DANS LA NAVBAR FIN
/*/


/*/
    DROPDOWN DE DECONNEXION
/*/

.dropdown-deconnexion {
    height: 60vh;
    background: transparent;
    border: none;
    width: 50%;
    left: 25%;
    position: fixed;
    top: 28vh;
    z-index: 45;
    display: none;
}


/**/

.modal-header-deconnexion {
    height: 20%;
    border-color: transparent;
    cursor: pointer;
}

.bi-x {
    color: white;
    cursor: pointer;
}


/**/

.modal-body-deconnexion {
    height: 80%;
    padding-top: 5%;
    padding-left: 0rem;
    overflow: hidden;
}

.blocItemDeconnexion {
    justify-content: center;
    align-items: center;
}

.itemBlocDeconnexion2>h6 {
    color: white;
    margin-top: 15px;
}

.itemImgBlocDeconnexion {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 1px solid #F4F4F4;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.itemImgDec {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}


/*/
  MENU MODAL DEBUT
/*/

.couverture-du-menu-modal {
    background: rgba(39, 55, 70, .7);
    position: fixed;
    left: 0%;
    top: 0px;
    width: 200%;
    height: 110vh;
    z-index: 42;
    display: none;
    overflow: hidden;
}

.menuModal {
    height: 60vh;
    background: transparent;
    border: none;
    width: 90%;
    left: 5%;
    position: fixed;
    top: 28vh;
    z-index: 45;
    display: none;
    overflow: hidden;
}


/**/

.modal-header {
    height: 20%;
    border-color: transparent;
    border: none;
}

.modal-header>button {
    margin-top: -5%;
}

.modal-header>button>span {
    color: white;
}


/**/

.modal-body {
    height: 80%;
    padding-top: 0%;
    padding-left: 0rem;
    overflow: hidden;
}

.blocItem {
    justify-content: center;
    align-items: center;
}

.itemBloc,
.itemBloc2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemBloc2>h6 {
    color: white;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemImgBloc {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 1px solid #F4F4F4;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.itemImgBloc:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.itemImg {
    height: 60px;
    width: 60px;
}


/*/
  MENU MODAL FIN
/*/


/* COVER PART */

.CoverContainer {
    z-index: 45;
}

.CoverProcedure {
    background: linear-gradient(90deg, #3d952ba1, #000000d9), url('../ressources/img/ASS-travailleurs.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 92.5vh;
    overflow: hidden;
}

.textSlide {
    text-align: center;
    height: 100%;
    color: white;
    margin-top: 0vh;
}

.title1 {
    margin-top: 28vh;
    font-size: 3rem;
    font-weight: bold;
}

.title2 {
    font-size: 1.6rem;
}


/*SEARCH BAR*/

.container-search {
    border: 2px solid white;
    height: 75px;
    border-radius: 50px;
    width: 50%;
    margin-left: 25%;
    margin-top: 5vh;
}

.container-search>.container-input>input {
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
    color: white;
    font-size: 22px;
    border-radius: 50px;
}

.container-input {
    height: 70px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    width: 88%;
    margin-left: 2%;
}

.search-button {
    width: 10%;
    margin-top: 1.6%;
}


/*DROPDOWN RECHERCHE*/

.searchbar-dropdown {
    background: white;
    border-radius: 2px;
    padding: 20px;
    max-height: 200px;
    margin-top: 12px;
    width: 50%;
    margin-left: 25%;
    display: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    position: relative;
    z-index: 45;
}

.searchbar-dropdown-scroll {
    width: 100%;
    height: auto;
    max-height: 150px;
    overflow-y: auto;
    overflow-x: hidden;
}

.resultat-recherche {
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.logoPic {
    padding: 7px;
    border-radius: 50%;
    border: 1px solid silver;
}

.article-name-trouve {
    color: #4A4B4B;
    margin-left: 10px;
    font-weight: bold;
}


/* END OF THE COVER PART*/


/*/
	AFFICHAGE PROCEDURES CONTAINER DEBUT
/*/

.AffichageProceduresContainer {
    margin-top: 70px;
    z-index: 30;
}

.AffichageProceduresContainer>h2 {
    text-align: center;
    color: #4A4B4B;
}

.swiper-container {
    margin-top: 40px;
    width: 110%;
}

.swiper-wrapper {
    margin-left: -35%;
    margin-bottom: 70px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    padding: 20px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-pagination {
    margin-left: -5%;
}

.serviceBox {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.serviceBox:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.serviceBox>h5 {
    color: #4A4B4B;
}

.serviceNumberTitile {
    font-size: 2.5rem;
    color: #019939;
    font-weight: bold;
}

.hr-div {
    margin-top: 5vh;
}

.text-service {
    font-size: 0.8rem;
    color: #4A4B4B;
    margin-top: 25px;
}


/*/
	AFFICHAGE PROCEDURES CONTAINER FIN
/*/


/*/
	MODAL LECTURE DEBUT 
/*/

.articleModalInformations {
    max-height: 80vh;
    margin-top: 10vh;
    padding: 0rem;
}

.modal-dialog-centered,
.modal-content {
    height: 100%;
    padding: 0rem;
}

.modal-header {
    height: 40%;
    border-color: white;
    padding: 0rem;
}

.modal-header-2,
.modal-header-deconnexion {
    height: 20%;
    border-color: transparent;
}

.block-header,
.imgPartnerBlocModal,
.partnerModal,
.nameArticle {
    width: 100%;
    padding: 0rem;
    height: 100%;
}

.coverImgPartner {
    background: linear-gradient(90deg, #051b00e3, #000000b3);
    position: absolute;
    top: 0px;
    padding: 0rem;
    height: 40%;
    width: 100%;
}

.homecoverlogoContent {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background: #a8b8a4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 2%;
}

.logo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.nameArticle {
    position: absolute;
    top: 30%;
}

.nameArticle>h4 {
    text-align: center;
    color: white;
}

.modal-body {
    max-height: 45%;
    overflow-y: auto;
    padding: 20px;
}

.modal-body>p {
    font-size: 0.9rem;
}

.modal-footer {
    height: 15%;
    border-color: white;
}

.modal-footer>button {
    margin-top: -5%;
}

.modal-footer>button>span {
    color: #004f4f;
}


/*/
	MODAL LECTURE FIN
/*/


/*/
  COPYRIGHT
/*/

.copyText {
    text-align: center;
    color: #4A4B4B;
    font-size: 0.8rem;
    margin-top: 30px;
    margin-bottom: 15px;
}


/*/
    SCROLL BARRE
/*/


/* width */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border: 1px solid white;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #004f4f;
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #004f4f;
}


/*/
    FULL RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN
/*/


/*/
  ORDINATEUR DE PLUS DE 12.5 POUCES (LG)
/*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /*/
		DROPDOWN DE DECONNEXION
	/*/
    .dropdown-deconnexion {
        width: 60%;
        left: 20%;
    }
    .itemImgBlocDeconnexion {
        height: 100px;
        width: 100px;
    }
    .itemImgDec {
        height: 65px;
        width: 65px;
    }
    /*COVER PART*/
    .title1 {
        font-size: 2.7rem;
    }
    .title2 {
        font-size: 1.4rem;
    }
    /*SEARCH BAR*/
    .container-search {
        width: 60%;
        margin-left: 20%;
    }
    /*DROPDOWN RECHERCHE*/
    .searchbar-dropdown {
        width: 60%;
        margin-left: 20%;
    }
    /*/
		AFFICHAGE PROCEDURES CONTAINER DEBUT
	/*/
    .swiper-container {
        margin-top: 40px;
        width: 125%;
    }
    .swiper-wrapper {
        margin-left: -35%;
        margin-bottom: 55px;
    }
    .swiper-pagination {
        margin-left: -12.5%;
    }
    /*/
		AFFICHAGE PROCEDURES CONTAINER FIN
	/*/
}


/*/
  TABLETTES DE 10.33 POUCES MAXIMUM (MEDIUM)
/*/

@media only screen and (max-width: 992px) {
    /*/
		DROPDOWN DE DECONNEXION
	/*/
    .dropdown-deconnexion {
        width: 65%;
        left: 17.5%;
    }
    .itemImgBlocDeconnexion {
        height: 100px;
        width: 100px;
    }
    .itemImgDec {
        height: 65px;
        width: 65px;
    }
    /* GENERAL CODE */
    .containerBlock {
        min-width: 100%;
        max-width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .iconMenuPc {
        display: none;
    }
    /*THE COVER PART*/
    .textSlide {
        margin-top: 3vh;
    }
    .title1 {
        font-size: 2.1rem;
    }
    .title2 {
        font-size: 1.1rem;
    }
    /*SEARCH BAR*/
    .container-search {
        width: 80%;
        margin-left: 10%;
    }
    /*DROPDOWN RECHERCHE*/
    .searchbar-dropdown {
        width: 80%;
        margin-left: 10%;
    }
    /* END OF THE COVER PART*/
    /*/
		AFFICHAGE PROCEDURES CONTAINER DEBUT
	/*/
    .AffichageProceduresContainer>h2 {
        font-size: 1.8rem;
    }
    .swiper-container {
        margin-top: 40px;
        width: 150%;
    }
    .swiper-wrapper {
        margin-left: -35%;
        margin-bottom: 55px;
    }
    .swiper-pagination {
        margin-left: -20%;
    }
    .serviceBox>h5 {
        font-size: 1rem;
    }
    .serviceNumberTitile {
        font-size: 1.8rem;
    }
    .text-service {
        font-size: 0.75rem;
    }
    /*/
		AFFICHAGE PROCEDURES CONTAINER FIN
	/*/
}


/*/
  TABLETTES DE 8 POUCES MAXIMUM (SMALL)
/*/

@media only screen and (max-width: 768px) {
    /*/
		DROPDOWN DE DECONNEXION
	/*/
    .dropdown-deconnexion {
        width: 80%;
        left: 10%;
    }
    .itemImgBlocDeconnexion {
        height: 105px;
        width: 105px;
    }
    .itemImgDec {
        height: 70px;
        width: 70px;
    }
    /*SEARCH BAR*/
    .container-search {
        width: 90%;
        margin-left: 5%;
    }
    .search-button {
        width: 8%;
        margin-left: -2%;
    }
    /*DROPDOWN RECHERCHE*/
    .searchbar-dropdown {
        max-height: 150px;
        width: 90%;
        margin-left: 5%;
    }
    .searchbar-dropdown-scroll {
        max-height: 120px;
    }
    /*/
		AFFICHAGE PROCEDURES CONTAINER DEBUT
	/*/
    .swiper-container {
        margin-top: 40px;
        width: 200%;
    }
    .swiper-wrapper {
        margin-left: -35%;
        margin-bottom: 55px;
    }
    .swiper-pagination {
        margin-left: -25%;
    }
    /*/
		AFFICHAGE PROCEDURES CONTAINER FIN
	/*/
}


/*/
  SMARTPHONES DE 6 POUCES MAXIMUM (EXTRA SMALL)
/*/

@media screen and (max-width: 570px) {
    .nom-de-ngboado-a-cote-du-logo {
        display: none;
    }
    /*/
		DROPDOWN DE DECONNEXION
	/*/
    .dropdown-deconnexion {
        width: 85%;
        left: 7.5%;
    }
    .itemBlocDeconnexion2>h6 {
        display: none;
    }
    .itemImgBlocDeconnexion {
        height: 95px;
        width: 95px;
    }
    .itemImgDec {
        height: 60px;
        width: 60px;
    }
    /*//*/
    .itemImgBloc {
        height: 90px;
        width: 90px;
    }
    .itemImg {
        height: 40px;
        width: 40px;
    }
    .itemBloc2 {
        display: none;
    }
    /*SEARCH BAR*/
    .container-search {
        width: 95%;
        margin-left: 2.5%;
    }
    /*DROPDOWN RECHERCHE*/
    .searchbar-dropdown {
        max-height: 140px;
        width: 95%;
        margin-left: 2.5%;
    }
    .searchbar-dropdown-scroll {
        max-height: 110px;
    }
    /*/
		AFFICHAGE PROCEDURES CONTAINER DEBUT
	/*/
    .swiper-container {
        margin-top: 40px;
        width: 230%;
    }
    .swiper-wrapper {
        margin-left: -35%;
        margin-bottom: 55px;
    }
    .swiper-pagination {
        margin-left: -30%;
    }
    /*/
		AFFICHAGE PROCEDURES CONTAINER FIN
	/*/
}