/*/
  INFORMATIONS :
  LES COMMENTAIRES DU CSS SERONT AFFICHES COMME CELA
/*/


/*/
  DEBUT DU CODE CSS
/*/

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #3f4652;
}

.welcome,
.welcome:hover {
    text-decoration: none;
    color: white;
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    height: 100vh;
    background: linear-gradient(-90deg, #08130d00, #00000024), url(../ressources/img/RS-authentification-background.PNG);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}


/*CONTAINER DU BACKGROUND DE LA PAGE*/

.fontSlide img {
    width: 100%;
    height: 100%;
    float: left;
    -webkit-filter: blur(2.5px);
}


/*CONTAINER DU COVER DE LA PAGE*/

.fontCover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(-90deg, #08130d, #00000024);
}


/*/
    CODE DE L'INSCRIPTION
/*/

.cont {
    overflow: hidden;
    position: absolute;
    width: 600px;
    height: 84vh;
    margin-top: 8vh;
    margin-left: 4%;
    background: white;
}

.form {
    position: absolute;
    width: 400px;
    height: 100%;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
    background: white;
}

.sub-cont {
    overflow: hidden;
    position: absolute;
    left: 400px;
    top: 0;
    width: 600px;
    height: 100%;
    padding-left: 260px;
    background: white;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.cont.s--signup .sub-cont {
    -webkit-transform: translate3d(-400px, 0, 0);
    transform: translate3d(-400px, 0, 0);
}

button {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 36px;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.img {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 210px;
    height: 100%;
    padding-top: 363px;
}

.img:before {
    content: '';
    position: absolute;
    right: 0px;
    top: 0;
    width: 610px;
    height: 100%;
    background-image: url("../ressources/img/RS-authentification-switching-image.jpg");
    background-size: cover;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.cont.s--signup .img:before {
    -webkit-transform: translate3d(400px, 0, 0);
    transform: translate3d(400px, 0, 0);
}

.img__text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: white;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img__text h2 {
    margin-bottom: 10px;
    font-weight: normal;
}

.img__text p {
    font-size: 14px;
    line-height: 1.5;
}

.cont.s--signup .img__text.m--in {
    -webkit-transform: translateX(370px);
    transform: translateX(370px);
}

.img__text.m--up {
    -webkit-transform: translateX(-370px);
    transform: translateX(-370px);
}

.cont.s--signup .img__text.m--up {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.img__btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 130px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}

.img__btn:after {
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
}

.img__btn span {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: -webkit-transform 1.2s;
    transition: transform 1.2s;
    transition: transform 1.2s, -webkit-transform 1.2s;
}

.img__btn span.m--up {
    -webkit-transform: translateY(-72px);
    transform: translateY(-72px);
}

.cont.s--signup .img__btn span.m--up {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.cont.s--signup .img__btn span.m--in {
    -webkit-transform: translateY(72px);
    transform: translateY(72px);
}

h2 {
    width: 100%;
    font-size: 26px;
    text-align: center;
}

.sign-up-1 {
    height: 100vh;
    padding: 30px;
    padding-bottom: 15vh;
}

.sign-up-1>h2 {
    padding-top: 2vh;
    margin-bottom: 6vh;
}

label {
    display: block;
    width: 260px;
    text-align: center;
}

label span {
    font-size: 12px;
    color: #3f4652;
    text-transform: uppercase;
    position: relative;
    top: -25px;
    left: 0;
    pointer-events: none;
    transition-duration: 0.5s;
}

input:focus~span,
input:valid~span {
    top: -50px;
    left: -45px;
    color: rgba(0, 128, 64, 0.7);
    font-size: 11px;
}

.submit {
    background: rgba(0, 128, 64, 0.7);
    text-transform: uppercase;
}

.boutonContinuer {
    border: none;
}

.sign-up {
    transition-timing-function: ease-out;
}

.RadioLabel {
    margin-left: 25px;
    margin-top: 5vh;
}

.RadioLabel span {
    pointer-events: painted;
}

.genre {
    display: inline-block;
    margin-left: 20px;
}

.sign-up h2 {
    color: #3f4652;
}

.deja-un-compte,
.pas-de-un-compte {
    margin-left: 13%;
    margin-top: 10px;
    font-size: 0.8rem;
    display: none;
}

.deja-un-compte>span,
.pas-de-un-compte-span {
    color: rgba(0, 128, 64, 0.7);
    cursor: pointer;
}

.deja-un-compte>span:hover,
.pas-de-un-compte-span:hover {
    text-decoration: underline;
}

.cont.s--signup .sign-up {
    transition-timing-function: ease-in-out;
    transition-duration: 1.2s;
    -webkit-transform: translate3d(600px, 0, 0);
    transform: translate3d(600px, 0, 0);
}


/*INSCRIPTION PHASE 2*/

.sign-up-2 {
    display: none;
    height: 100vh;
    padding: 30px;
    padding-bottom: 0vh;
}

.sign-up-2>h2 {
    padding-top: 0vh;
    padding-bottom: 3vh;
}

.sign-up-2-label {
    margin-bottom: 2.5vh;
}

.label-date-naissance {
    margin-top: 5vh;
}

.selectLabel {
    display: flex;
    justify-content: space-between;
    margin-left: -10px;
    margin-top: -10px;
}

.jour,
.mois,
.annee {
    margin-left: 10px;
}

input {
    display: block;
    width: 100%;
    font-size: 15px;
    background: transparent;
    padding-bottom: 3px;
    border-bottom: 1.4px solid #d7d7d7;
    border-right: 1.4px solid #d7d7d7;
    border-left: 1.4px solid #d7d7d7;
    border-top: 1.4px solid #d7d7d7;
    border-radius: 7px;
    text-align: center;
}

select {
    display: block;
    width: 26%;
    font-size: 15px;
    border-bottom: 1.4px solid #d7d7d7;
    border-right: 1.4px solid #d7d7d7;
    border-left: 1.4px solid #d7d7d7;
    border-top: 1.4px solid #d7d7d7;
    border-radius: 7px;
    padding: 5px;
    text-align: center;
    color: #3f4652;
    background: transparent;
}

.label-select-country {
    margin-bottom: 6vh;
}

.select-country {
    width: 100%;
}

.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.submit2 {
    width: 200px;
    border: none;
    margin-top: 4vh;
}

.fb-btn {
    border: 2px solid #d3dae9;
    color: #8fa1c7;
    margin-top: 2vh;
}

.fb-btn span {
    font-weight: bold;
    color: #455a81;
}


/*/
    CODE DE CONNEXION
/*/

.sign-in {
    margin-top: 15vh;
    -webkit-transform: translate3d(-600px, 0, 0);
    transform: translate3d(-600px, 0, 0);
    padding-right: 20px;
    padding-left: 5px;
}

.sign-in h2 {
    color: #3f4652;
    margin-bottom: 10vh;
}

.label-sign-in {
    margin-bottom: 7vh;
}

.cont.s--signup .sign-in {
    -webkit-transform: translate3d(-50px, 0, 0);
    transform: translate3d(-50px, 0, 0);
}

.submit1 {
    width: 200px;
    background: rgba(0, 128, 64, 0.7);
    text-transform: uppercase;
    border: none;
}

.forgot-pass {
    text-align: center;
    font-size: 12px;
    color: rgba(0, 128, 64, 0.7);
}


/*/
    CONTAINER DU BLOC DE TEXTE A GAUCHE
/*/

.logo {
    z-index: 1;
    width: 90px;
    height: 90px;
    border-radius: 100px;
    background: #ffffff73;
    padding: 15px;
    margin-left: 30%;
}

.logo:hover img {
    transform: rotateX(60);
}

.logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.textAside {
    width: 350px;
    color: #d7d7d7;
    position: relative;
    height: 80vh;
    left: 65%;
    top: 12vh;
}

.textAside .text1 {
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-weight: 600;
    margin-top: 5vh;
}

.textAside .text2 {
    font-size: 14px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 10vh;
}

.textAside .text3 {
    font-size: 14px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 10vh;
}

.block-funder {
    margin-top: 5vh;
}

.quotes__cite {
    font-size: 12px;
    text-shadow: 2px 2px 4px #000000;
    font-style: italic;
    color: white;
    margin-left: 10px;
}

.quotes__cite:before {
    content: '- ';
}


/*/
    FULL RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN
/*/


/*/
    ORDINATEUR PLUS LARGE (LG)
 /*/

@media only screen and (min-width: 1500px) {}


/*/
   ORDINATEUR DE PLUS DE 12.5 POUCES (LG)
/*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .cont {
        height: 84vh;
        margin-top: 8vh;
        margin-left: 0%;
    }
    .textAside {
        width: 350px;
        left: 66.5%;
        top: 11vh;
    }
}


/*/
    TABLETTES DE 10.33 POUCES MAXIMUM (MEDIUM)
/*/

@media only screen and (max-width: 991px) {
    .textAside {
        display: none;
    }
    .cont {
        margin-left: 7%;
    }
    .sign-up h2 {}
}


/*/
    TABLETTES DE 8 POUCES MAXIMUM (SMALL)
/*/

@media only screen and (max-width: 767px) {
    .fontCover {
        background: white;
    }
    .cont {
        margin-left: 8%;
        width: 100%;
    }
    .sub-cont {
        display: none;
    }
    .deja-un-compte,
    .pas-de-un-compte {
        display: block;
    }
    /*INSCRIPTION PHASE 1*/
    .sign-up-1 {
        padding: 10px;
        padding-bottom: 15vh;
        margin-left: 0%;
    }
    .sign-up-1>h2 {
        margin-bottom: 10vh;
    }
    .sign-up-1-label {
        margin-bottom: 8vh;
    }
    .RadioLabel {
        margin-left: 47px;
        margin-top: 0.5vh;
    }
    /*INSCRIPTION PHASE 2*/
    .sign-up-2 {
        padding: 10px;
        padding-bottom: 0vh;
        margin-left: 0.5%;
    }
    .sign-up-2>h2 {
        padding-top: 0vh;
        padding-bottom: 5vh;
    }
    /*CODE DE CONNEXION*/
    .sign-in {
        margin-top: 8vh;
        padding-right: 10px;
        padding-left: 5px;
        margin-left: 1.5%;
    }
    .sign-in h2 {
        margin-bottom: 15vh;
    }
}


/*/
    SMARTPHONES DE 6 POUCES MAXIMUM (EXTRA SMALL)
/*/

@media only screen and (max-width: 575px) {}