/*/
  INFORMATIONS :
  - LES COMMENTAIRES DU CSS SERONT AFFICHES COMME CELA
/*/





/*/
  DEBUT DU CODE CSS AVEC LA BALISE BODY
/*/

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    overflow-x: hidden;
    background: #E8F6F3;
    overflow: hidden;
}





/*/
    CODE DE LA PREMIERE NAVBAR DE HAUT
/*/
.navbar-top-block{
    background: white;
    height: 11vh;
    border-bottom: 1px solid #E0E0E0;
}

.block-gauche-background{
    background: linear-gradient(to right top, #2c3e50, #1d4455, #074a54, #004f4f, #0b5345);
    height: 11vh;
    width: 20%;
    padding-top: 2.4vh;
    cursor: pointer;
}

.block-gauche-background > h4 {
    color: white;
    margin-top: 0.5vh;
    text-align: center;
    margin-left: -3%;
}

.block-gauche-background > h4 > svg{
    margin-top: -1.2vh;
}

.bi-chat-quote-fill{
    width: 1.8em;
    height: 1.8em;
}

.block-gauche-background > h4 > span{
    margin-left: 2%;
}



/*/
    BLOCK DE NAVIGATION A DROITE
/*/
.block-droite-navbar{
    width: 80%;
}

.block-droite-navbar > .row {
    width: 100%;
}

.profil-user-session-info-forum{
    margin-top: 2vh;
    width: 25%;
    margin-left: 4%;
    cursor: pointer;
}

.img-user-session-info, .img-user-session-info-1{
    padding: 3px;
    border-radius: 50%;
    border: 1px solid #E8F6F3;
}

.session-name{
    font-size: 0.8rem;
    font-weight: bold;
    color: #074a54;
    margin-left: 5px;
}

.session-during{
    font-size: 0.6rem;
    color: #4A4B4B;
}


/*NAVBAR DE NAVIGATION DU HAUT*/
.searchbar-block{
    width: 55%;
    margin-left: 3%;
    padding-top: 2.5vh;
}

.searchbar-block > form, .searchbar-block > form > div, .searchbar-block > form > div > .form-control {
    width: 100%;
}

.searchbar-block > form > div > .form-control {
    height: 40px;
    background-color: #E8F6F3;
    border-radius: 10px;
    outline: 0;
}

.bi-filter-left{
    color: #0b5345;
    margin-top: 2.5vh;
    margin-left: 8%;
    cursor: pointer;
    display: none;
}


/*/
    BLOCK DES USERS CONNECTES FIXE A L'EXTREME DROITE
/*/
.block-user-connectes{
    width: 5%;
    background: #E8F6F3;
    position: fixed;
    top: 0px;
    right: 0%;
    height: 100vh;
    border-top-left-radius: 20px;
    border-top-left-radius: 20px;
}

.block-user-connectes-scrolable{
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}

.menus-connectes-icons{
    height: 11vh;
    border-bottom: 1px solid #E0E0E0;
    padding-top: 3vh;
}

.bi-app-indicator{
    color: #074a54;
}


.block-container-des-users-en-session{
    text-align: center;
    width: 100%;
    height: 89vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.img-user-en-session{
    padding: 3px;
    border-radius: 50%;
    border: 2px solid white;
    margin-bottom: 2vh;
    cursor: pointer;
}






/*/
    CONTAINER DE TOUS LES ELEMENTS VISIBLES EN DESSOUS DE LA BARRE DE NAVIGATION
/*/

/* BLOCK BODY LEFT */
.body-block-de-gauche{
    height: 89vh;
    width: 20%;
}


.block-with-info-user{
    background: white;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 5vh;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
}

.block-with-info-user:hover{
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.name-block-with-info{
    margin-top: 10px;
}

.during-block-with-info{
    margin-top: -8px;
}

.btn-back-communaute, .btn-back-communaute:hover{
    color: white;
    background: linear-gradient(to right top, #2c3e50, #1d4455, #074a54, #004f4f, #0b5345);
    border-radius: 50px;
    font-size: 0.8rem;
}

.separation-1{
    margin-top: 20vh;
}

.block-button-menus{
    text-align: center;
    margin-top: 11vh;
}

.btn-menus, .btn-menus:hover {
    background: white;
    color: #0b5345;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 5px;
    font-size: 0.7rem;
    width: 60%;
    text-align: left;
    padding-left: 15px;
    padding-bottom: 6px;
}

.btn-menus:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.btn-logout, .btn-logout:hover{
    background: linear-gradient(to right top, #2c3e50, #1d4455, #074a54, #004f4f, #0b5345);
    color: white;
    margin-top: 0;
    position: relative;
    top: 20vh;
}







/*/
    BLOCK CONTAINER DES MESSAGES
/*/
.block-container-messages, .block-container-message > .row{
    height: 89vh;
    width: 75%;
    background: white;
}


/* BLOCK DES MESSAGES */
.block-des-messages{
    width: 95%;
    margin-left: 2.5%;
    height: 77vh;
}

.block-des-messages-scrollable{
    width: 100%;
    max-height: 100%;
    padding: 20px;
    overflow: hidden;
    overflow-y: auto;
}

.block-conversation-d-un-jour{
    width: 100%;
    margin-top: 40px;
}

.date-conversation{
    background: #E8F6F3;
    text-align: center;
    width: 130px;
    font-size: 0.75rem;
    border-radius: 3px;
    padding: 3px;
    margin-left: 40%;
}


.block-affichage-messages{
    width: 95%;
    margin-top: 2vh;
}

.block-premier-message-du-cycle, .block-autre-message-du-cycle{
    width: 100%;
    padding: 20px;
}

.block-ma-photo{
    width: 6%;
}

.block-message-contenu, .block-message-contenu-autre-utilisateur, .block-message-contenu-administrateur{
    max-width: 90%;
    background: #E8F6F3;
    margin-left: 1.5%;
    overflow: hidden;
    padding: 20px;
    padding-bottom: 0px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    margin-top: 0.5vh;
    cursor: pointer;
}

.moiEtHeure, .UtilisateurEtHeure{
    font-size: 0.7rem;
    color: #4A4B4B;
}

.message-content, .message-content-autre-utilisateur, .message-content-administrateur{
    font-size: 0.8rem;
    color: #4A4B4B;
}

.block-autre-message-du-cycle{
    margin-top: -4vh;
}

.bi-file-earmark-check{
    color: #0b5345;
}

.block-icon-delete{
    padding: 0em;
    margin: 0em;
    height: 12px;
}

.bi-trash{
    margin-left: 98%;
    color: #074a54;
}


/* BLOCK MESSAGES D'UN AUTRE UTILISATEUR */
.block-messages-autre-utilisateur, .block-messages-administrateur{
    margin-left: 6%;
    margin-top: -1vh;
}

.block-message-contenu-autre-utilisateur, .block-message-contenu-administrateur{
    background: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 10px;
    border-top-right-radius: 0px;
}

.block-message-multimedias{
    padding-bottom: 20px;
}


.img-user-session-info-other{
    border: 1px solid #0b5345;
}

.img-user-session-info-administrateur{
    padding: 3px;
    border-radius: 50%;
    border: 3px solid #E8F6F3;
}

.block-sa-photo{
    width: 6%;
    margin-left: 1.5%;
}

.fchier-upload{
    border: 2px solid white;
    border-radius: 3px;
}

.message-pour-commenter-le-fichier-upload, .message-pour-commenter-le-fichier-upload-user-session{
    color: #4A4B4B;
    font-size: 0.7rem;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 7px;
    text-decoration: underline;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

audio{
    outline: 0em;
    margin-left: -7px;
}

.files-upload{
    width: 80%;
    outline: 0em;
}

.message-pour-commenter-le-fichier-upload, .message-pour-commenter-le-fichier-upload-user-session{
    text-decoration: none;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 0.8rem;
}

.message-pour-commenter-le-fichier-upload-user-session{
    color: #4A4B4B;
    margin-bottom: 0px;
}




/* INTERACTIONS SUR LES MESSAGES */
.titre-commentaire{
    font-size: 0.7rem;
    color: #4A4B4B;
    font-weight: bold;
}

.titre-commentaire-administrateur-a-moi, .titre-commentaire-user-a-moi{
    color: #4A4B4B;
}

.hr-admin, .hr-autre-user{
    border-color: #E8F6F3;
}

.message-commente-preview{
    background: white;
    color: #4A4B4B;
    font-size: 0.8rem;
    padding: 15px;
    border-radius: 5px;
}

.message-commente-preview-admin{
    background: #E8F6F3;
    color: #4A4B4B;
}









/* BOX AJOUTER FICHIER MULTIMEDIA A LA PUBLICATION */
.popup-fichier-ajouter-fichiers-multimedia-a-la-publication{
    width: 60%;
    background:white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    height: 100px;
    position: absolute;
    bottom: 11vh;
    left: 27.1%;
    border-radius: 5px;
    text-align: center;
    display: none;
    z-index: 25;
}

.add-file{
    margin-top: 12px;
    cursor: pointer;
}

.add-file-text{
    color: #4A4B4B;
    font-size: 0.8rem;
    margin-top: 5px;
}


/*POPUP AFFICHAGE DES FICHIERS MULTIMEDIAS TELECHARGES*/
.popup-affichages-multimedias{
    width: 60%;
    background:white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    max-height: 280px;
    position: absolute;
    bottom: 11vh;
    left: 27.1%;
    border-radius: 5px;
    text-align: center;
    display: none;
    z-index: 25;
}

.affichage-multimedia-block{
    max-height: 90%;
    width: 100%;
    padding-top: 15px;
    overflow-y: auto;
}

.add-multimedia-text{
    margin-top: 7px;
    color: #4A4B4B;
    font-size: 0.8rem;
    cursor: pointer;
}

.mulmedia-down{
    margin-top: 15px;
}



/* BLOCK DE L'INPUT DES MESSAGES TOTALEMENT EN BAS */
.block-de-linput-des-messages, .block-de-linput-des-messages > .row{
    width: 95%;
    margin-left: 3.2%;
    height: 10vh;
    margin-top: 0.5vh;
}

.block-button-plus{
    width: 8%;
    margin-top: 1.5vh;
}

.bi-plus-circle-fill{
    color: #074a54;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(232,246,243), 0 3px 6px rgba(232,246,243);
    cursor: pointer;
}

.input-des-messages{
    width: 80%;
    height: 80%;
    margin-top: 0.7%;
}

.input-des-messages > form, .input-des-messages > form > div, .input-des-messages > form > div > .form-control {
    width: 100%;
    height: 100%;
}

.input-des-messages > form > div > .form-control, .input-des-messages > form > div > .form-control:hover {
    background: #E8F6F3;
    border-radius: 10px;
}


.block-button-send-message{
    width: 8%;
    margin-top: 1.5vh;
    padding-left: 2.5%;
}

.bi-arrow-right-circle-fill{
    color: #074a54;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(232,246,243), 0 3px 6px rgba(232,246,243);
    cursor: pointer;
}



















/*/
   BOITE DE COMMENTAIRES
/*/

.couverture-du-commentaire {
    background: rgba(39, 55, 70, .55);
    position: fixed;
    top: 0%;
    left: 0%;
    width: 200%;
    height: 110vh;
    z-index: 20;
    display: none;
}

.boite-de-commantaires {
    background: white;
    padding: 15px 20px 3px 20px;
    position: fixed;
    left: 28.8%;
    top: 40vh;
    border: 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 30;
    display: none;
}

.titre-du-commentaire {
    text-align: center;
    color: #4A4B4B;
    margin-bottom: 15px;
}

.background-fond {
    background: linear-gradient(to right top, #2c3e50, #1d4455, #074a54, #004f4f, #0b5345);
    padding: 0px;
}

.nom-publier-a-commenter {
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
}

.photo-publier-a-commenter {
    margin-right: 5px;
}

.temps-de-publication-a-commenter {
    font-size: 0.7rem;
    color: white;
}

.text-contenu-a-commenter {
    font-size: 0.6rem;
    text-align: center;
    margin-top: 20px;
    color: white;
}

.contenu-multimedia-a-commenter {
    margin-top: 5px;
}

.contenair-du-commentaire {
    height: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 5px;
}

.input-commentaire-bloc {
    margin-left: -10px;
}

.input-coment-submit {
    margin-top: 3px;
}



/*/
   SYSTEME DE CHAT
/*/

.grand-block-du-chat {
    border-radius: 4px;
    background: white;
    position: fixed;
    left: 40%;
    bottom: 12vh;
    width: 250px;
    z-index: 20;
    display: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.container-du-haut-avec-fond-linear-gradient {
    background: linear-gradient(to right top, #2c3e50, #1d4455, #074a54, #004f4f, #0b5345);
    padding: 8px 0px 10px 0px;
    width: 250px;
    margin-left: -15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.button-fermer {
    position: relative;
    left: 80%;
    cursor: pointer;
}

.block-du-text-et-la-photo {
    text-align: center;
    color: white;
    margin-top: 20px;
}

.block-du-text-et-la-photo>h6 {
    font-size: 1rem;
}

.block-du-text-et-la-photo>p {
    font-size: 0.75rem;
    margin-top: 5px;
}

.photo-destinataire {
    border: 2px solid white;
    border-radius: 50%;
    margin-top: 15px;
}

.container-des-messages {
    background: white;
    height: 200px;
    width: 107%;
}

.block-message-fixed {
    overflow-y: scroll;
    width: 100%;
    height: 98%;
}

.block-des-message-scroll {
    height: 200%;
    width: 100%;
}

.form-control {
    font-size: 0.85rem;
}

.container-de-l-input {
    margin-bottom: 5px;
    width: 250px;
    margin-left: -15px;
}

.container-de-l-input>input {
    border-radius: 0px;
    border-color: white;
    border-top-color: silver;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 15px;
}

.message-chat-input {
    margin-top: -5px;
}

.message-chat-send {
    margin-left: -10px;
    margin-top: -2px;
}









/* POPUP DE SUPPRESSION D'UNE PUBLICATION */
.popup-supprimer-publication {
    position: fixed;
    width: 35%;
    left: 32.5%;
    top: 42vh;
    background: white;
    padding: 15px;
    padding-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    z-index: 23;
    border-radius: 2px;
    display: none;
}

.supprimer-publication-title {
    color: #4A4B4B;
    font-weight: bold;
    font-size: 0.75rem;
}

.supprimer-publication-text{
    color: #4A4B4B;
    font-size: 0.7rem;
    margin-top: 10px;
}

.btn-oui, 
.btn-non{
    color: #4A4B4B;
    font-size: 0.7rem;
    outline: 0px;
}

.btn-oui:hover, .btn-non:hover{
    color:#074a54;
    font-weight: bold;
}









/*/
    SCROLL BARRE
/*/


/* width */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border: 1px solid white;
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: white;
}




/*/
    FULL RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN
 /*/


/*/
    ORDINATEUR PLUS LARGE (LG)
/*/

@media only screen and (min-width: 1500px) {}


/*/
   ORDINATEUR DE PLUS DE 12.5 POUCES (LG)
/*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /*/
    CODE DE LA PREMIERE NAVBAR DE HAUT
    /*/
    .block-gauche-background > h4 {
        margin-top: 1.5vh;
        font-size: 1.3rem;
    }

    .bi-chat-quote-fill{
        width: 1.5em;
        height: 1.5em;
    }

    /* BLOCK BODY LEFT */
    .block-with-info-user{
        width: 90%;
        margin-left: 5%;
    }

    .input-des-messages{
        margin-left: 1%;
    }

    /* BOITE DE CHAT */
    .boite-de-commantaires {
        left: 25%;
    }

    /* POPUP DE SUPPRESSION D'UNE PUBLICATION */
    .popup-supprimer-publication {
        position: fixed;
        width: 46%;
        left: 27%;
    }

}




/*/
    TABLETTES DE 10.33 POUCES MAXIMUM (MEDIUM)
/*/

@media only screen and (max-width: 991px) {

    /*NAVBAR DE NAVIGATION DU HAUT*/
    .searchbar-block{
        width: 40%;
        margin-left: 12%;
    }

    .bi-filter-left{
        display: block;
    }

    /*/
        CODE DE LA PREMIERE NAVBAR DE HAUT
    /*/
    .block-gauche-background{
        width: 10%;
    }

    .bi-chat-quote-fill{
        width: 1.8em;
        height: 1.8em;
    }

    .block-gauche-background > h4 > span{
        display: none;
    }

    /* BLOCK BODY LEFT */
    .body-block-de-gauche{
        display: none;
    }

    /*/
        BLOCK CONTAINER DES MESSAGES
    /*/
    .block-container-messages, .block-container-message > .row{
        width: 93%;
    }

    .input-des-messages{
        margin-left: 1%;
    }
    .files-upload{
        width: 100%;
        outline: 0em;
    }

    /*/
        BLOCK DES USERS CONNECTES FIXE A L'EXTREME DROITE
    /*/
    .block-user-connectes{
        width: 7%;
    }

    /*/
        SYSTEME DE CHAT
    /*/
    .grand-block-du-chat {
        left: 35%;
    }

    /* BOITE DE COMMENTAIRES */
    .boite-de-commantaires {
        left: 17%;
    }

    /* POPUP DE SUPPRESSION D'UNE PUBLICATION */
    .popup-supprimer-publication {
        width: 60%;
        left: 20%;
    }

    /* BOX AJOUTER FICHIER MULTIMEDIA A LA PUBLICATION */
    .popup-fichier-ajouter-fichiers-multimedia-a-la-publication{
        width: 70%;
        left: 12%;
    }

}



/*/
    TABLETTES DE 8 POUCES MAXIMUM (SMALL)
/*/

@media only screen and (max-width: 767px) {


    /*NAVBAR DE NAVIGATION DU HAUT*/
    .searchbar-block{
        width: 45%;
        margin-left: 5%;
    }

    .profil-user-session-info-forum{
        margin-left: 8%;
    }

    .session-during-2{
        display: none;
    }


    .img-user-session-info{
        width: 32px;
    }

    .img-user-en-session{
        width: 32px;
    }

    /*/
        BLOCK CONTAINER DES MESSAGES
    /*/
    .block-affichage-messages{
        width: 100%;
    }

    .block-message-contenu, .block-message-contenu-autre-utilisateur, .block-message-contenu-administrateur{
        margin-left: 2.5%;
    }

    .input-des-messages{
        margin-left: 3%;
    }
    .block-button-plus{
        margin-left: -2.8%;
    }


    /* BOITE DE COMMENTAIRES */
    .boite-de-commantaires {
        left: 15%;
    }

    /* POPUP DE SUPPRESSION D'UNE PUBLICATION */
    .popup-supprimer-publication {
        width: 80%;
        left: 10%;
    }
    

}



/*/
    SMARTPHONES DE 6 POUCES MAXIMUM (EXTRA SMALL)
/*/

@media only screen and (max-width: 575px) {
    /* BOITE DE COMMENTAIRES */
    .boite-de-commantaires {
        left: 10%;
        width: 80%;
    }

    /* POPUP DE SUPPRESSION D'UNE PUBLICATION */
    .popup-supprimer-publication {
        width: 85%;
        left: 7.5%;
    }

}
