/*/
  INFORMATIONS :
- LES COMMENTAIRES DU CSS SERONT AFFICHES COMME CELA
/*/


/*/
    DEBUT DU CODE CSS AVEC LA BALISE BODY
/*/

* {
    background-color: white;
}

body {
    padding: 0;
    margin-left: 0;
    overflow-x: hidden;
}

button {
    border: none;
    outline: none;
    background: linear-gradient(90deg, #019939, #336699);
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    cursor: pointer;
    display: block;
}


/*/ 
    CODE DU COVER SUR LES IMAGES AU HAUT DE LA PAGE
/*/

.coverparent {
    height: 600px;
    width: 100%;
    background: url("../ressources/img/RS-members-funders.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 1s;
    padding: 0 !important;
}

.cover {
    padding-top: 50px;
    height: 600px;
    width: 100%;
    background: linear-gradient(90deg, #3d952bc2, #336699c9);
    margin: 0 !important;
}

.coverContent {
    display: none;
    color: white;
    margin-top: 100px;
    margin-left: 10%;
    max-width: 700px;
    min-width: 500px;
    height: 300px;
    background-color: transparent;
}

.coverContent p {
    background-color: transparent;
    margin-bottom: 30px;
}

.coverContent h4 {
    background-color: transparent;
}

.coverTilte {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.bouton {
    width: 160px;
    height: 40px;
    border-radius: 30px;
    color: #019939;
    background: #fff;
}


/*/ 
    CODE DES BOUTTONS DE CHANGEMENTS DE CATEGORIES
/*/

.SecondMenu {
    width: 100%;
    height: 50px;
    margin-top: 1%;
    display: flex;
    justify-content: center;
}

.boutton {
    /*le boutons du menu */
    margin-left: 10px;
    width: 120px;
    height: 80%;
    padding-top: auto;
    margin-top: 20px;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    border-radius: 30px;
    transition: all 1s;
    cursor: pointer;
}

.boutton:focus {
    border-radius: 0px;
    font-weight: bold;
}


/*/ 
    CODE DE LA BARRE DE RECHERCHE ET DE SA DROPDOWN EN DESSOUS
/*/

.block-form-search {
    background: transparent;
    margin-top: 30px;
    margin-left: 25.5%;
    z-index: 20;
}

form {
    transform: translate(0%, 50%);
    transition: all 1s;
    width: 35px;
    height: 35px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid #019939;
    padding: 2px;
}

input {
    position: absolute;
    color: #019939;
    top: 0;
    left: 0;
    width: 100%;
    height: 32.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

form:hover {
    width: 74%;
    cursor: pointer;
}

form:hover input {
    display: block;
}

.searchbar-dropdown {
    background: white;
    border-radius: 2px;
    padding: 20px;
    max-height: 300px;
    margin-top: 30px;
    margin-left: 25.5%;
    transition: all 1s;
    display: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    z-index: 20;
}

.searchbar-dropdown-scroll {
    width: 100%;
    height: auto;
    max-height: 270px;
    overflow-y: auto;
    overflow-x: hidden;
}

.resultat-recherche {
    cursor: pointer;
}

.photo-membre-trouve {
    padding: 7px;
    border-radius: 50%;
    border: 1px solid silver;
}

.nom-membre-trouve {
    color: #4A4B4B;
    margin-left: 10px;
    font-weight: bold;
}

.categorie-membre-trouve {
    font-size: 0.9rem;
    color: #4A4B4B;
}


/*/
   BOITE DE COMMENTAIRES
/*/

.couverture-du-commentaire {
    background: transparent;
    position: fixed;
    top: 0px;
    width: 200%;
    height: 110vh;
    z-index: 10;
    display: none;
}


/*/ 
    CODE DES CONTAINER DES DIFFERENTES CATEGORIES
/*/

#contenerPrincipal {
    margin: 0 auto;
    margin-top: 2%;
}

.main {
    padding-top: 50px;
    display: none;
}

.style1 {
    margin-bottom: 100px;
    padding-left: 5%;
}

.style1 h5 {
    font-size: 20px;
    margin-top: 50px;
}

.style1 p {
    font-size: 15px;
}


/*contnue texte*/

.style1 .boule {
    margin-left: 20px;
    margin-top: 110px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: linear-gradient(90deg, #019939, #336699);
}

.style1 .boule::before {
    content: '';
    display: block;
    position: relative;
    width: 2px;
    height: 250px;
    background: linear-gradient(90deg, #019939, #336699);
    left: 45.5%;
    top: 35px;
    border-radius: 4px;
    margin: 0;
    padding: 0;
}


/*contnue image */

.style1 .content {
    width: 100%;
}

.style1 .content::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    top: -200px;
    left: 100px;
    z-index: -1;
    background-color: grey;
    opacity: 0.4;
}

.style1 .contentImg img {
    width: 100%;
    height: 100%;
}

.style2 {
    margin-bottom: 50px;
}

.style2 h5 {
    margin-top: 50px;
}


/*contnue image*/

.style2 .content {
    width: 100%;
}

.style2 .content::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    top: -250px;
    left: -110px;
    z-index: -1;
    background-color: grey;
    opacity: 0.4;
}

.style2 .contentImg img {
    width: 100%;
    height: 100%;
}


/*separateur*/

.style2 .boule {
    margin-left: 20px;
    margin-top: 110px;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: linear-gradient(90deg, #019939, #336699);
}

.style2 .boule::before {
    content: '';
    display: block;
    position: relative;
    width: 2px;
    height: 230px;
    background: linear-gradient(90deg, #019939, #336699);
    left: 45.5%;
    top: 35px;
    border-radius: 4px;
    margin: 0;
    padding: 0;
}

.CoverActive {
    display: block;
}

.mainActive {
    display: block;
}


/*/
    SCROLL BARRE
/*/


/* width */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border: 1px solid grey;
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #273746;
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #273746;
}


/*/
    FULL RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN
/*/


/*/
    ORDINATEUR PLUS LARGE (LG)
 /*/

@media only screen and (min-width: 1500px) {}


/*/
    ORDINATEUR DE PLUS DE 12.5 POUCES (LG)
 /*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {}


/*/
    TABLETTES DE 10.33 POUCES MAXIMUM (MEDIUM)
/*/

@media only screen and (max-width: 991px) {
    .coverText {
        font-size: 0.9rem;
    }
    .coverContent {
        margin-left: 7%;
        margin-right: 5%;
    }
    .style1 {
        padding-left: 0%;
    }
    /*la seachBar*/
    .block-form-search {
        margin-left: 16%;
    }
    form:hover {
        width: 83%;
        cursor: pointer;
    }
    form:hover input {
        display: block;
    }
    .searchbar-dropdown {
        margin-left: 17.8%;
    }
}


/*/
    TABLETTES DE 8 POUCES MAXIMUM (SMALL)
/*/

@media only screen and (max-width: 767px) {
    .separateur {
        display: none;
    }
    .style1>.contentText {
        margin-bottom: 40px;
    }
    .style1,
    .style2 {
        padding-bottom: 100px;
        border-bottom: 1px solid silver;
    }
    .style2 {
        padding-bottom: 80px;
        border-bottom: 1px solid silver;
    }
    /*la seachBar*/
    .block-form-search {
        margin-left: 1%;
    }
    form:hover {
        width: 100%;
        cursor: pointer;
    }
    .searchbar-dropdown {
        margin-left: 4.5%;
    }
}


/*/
    SMARTPHONES DE 6 POUCES MAXIMUM (EXTRA SMALL)
/*/

@media only screen and (max-width: 575px) {
    .coverContent {
        margin-left: 2%;
        margin-right: 30%;
    }
    .coverText {
        font-size: 0.8rem;
    }
    form:hover {
        width: 100%;
        cursor: pointer;
    }
    .searchbar-dropdown {
        margin-left: 2.5%;
        width: 95%;
    }
}