/*/
  INFORMATIONS :
  - LES COMMENTAIRES DU CSS SERONT AFFICHES COMME CELA
/*/


/*/
  DEBUT DU CODE CSS AVEC LA BALISE BODY
/*/
body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    overflow-x: hidden;
    background-color: #E0E0E0;
}

.titre-publicites {
    font-size: 0.65rem;
    margin-left: 10px;
}


/*/
  NAVBAR : TOUT CE QUI EST CONTENU DANS LA NAVBAR
/*/
.navbar-top {
    z-index: 28;
    background: linear-gradient(90deg, #3D952B, #336699);
    height: 50px;
}

.nav-items {
    font-weight: bold;
    word-spacing: 50px;
    padding: 0px 15px 0px 15px;
}

.image-rounded {
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}

.btn-danger {
    font-size: 0.7rem;
    margin-top: 14px;
    font-weight: bold;
}

.navbar-nav {
    margin-left: -100px;
}

.notifs {
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.notification-enfant,
.shopping-enfant,
.service-enfant {
    display: none
}

.shopping-parent,
.service-parent {
    padding-left: 100px;
}

.notification-parent {
    margin-left: -30px;
}

.notifications-message-dropdown,
.notifications-relation-dropdown,
.notifications-recommandation-dropdown {
    max-height: 60vh;
    background: white;
    width: 280px;
    position: absolute;
    top: 50px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
}

.notifications-message-dropdown-mobile,
.notifications-relation-dropdown-mobile,
.notifications-recommandation-dropdown-mobile {
    display: none;
}

.notifications-message-dropdown {
    margin-left: -60px;
}

.notifications-relation-dropdown {
    margin-left: 10px;
}

.notifications-recommandation-dropdown {
    margin-left: 65px;
}

.notification-message-title-blc,
.notification-relation-title-blc,
.notification-recommandation-title-blc {
    height: 40px;
    padding-top: 10px;
    text-align: center;
    border-top: 1px solid #CCD1D1;
    border-bottom: 1px solid #CCD1D1;
    font-size: 0.75rem;
    color: #336699;
    font-weight: bold;
}

.notification-message-scroll,
.notification-relation-scroll,
.notification-recommandation-scroll {
    height: 85%;
    max-height: 50vh;
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.un-message-notification,
.une-relation-notification,
.une-recommandation-notification {
    border-bottom: 1px solid #CCD1D1;
    padding-top: 15px;
    cursor: pointer;
}

.photo-sender-message-notif,
.photo-sender-relation-notif,
.photo-sender-recommandation-notif {
    border-radius: 50%;
}

.nom-sender-message-notif,
.nom-sender-relation-notif,
.nom-sender-recommandation-notif {
    font-size: 0.75rem;
    color: #336699;
    font-weight: bold;
    margin-left: 5px;
}

.text-sender-message-notif,
.text-sender-relation-notif,
.text-sender-recommandation-notif {
    font-size: 0.7rem;
    color: #4A4B4B;
    margin-left: 35px;
}


/*APPAREILS MOBILES*/
.container-des-notifications-mobile {
    width: 30px;
    display: none;
    margin-left: 2%;
    margin-top: -16px;
}

.dropdownOfMenu {
    width: 180px;
    display: none;
    position: fixed;
    left: 0px;
    top: 50px;
    background: linear-gradient(to right top, #2c3e50, #1d4455, #074a54, #004f4f, #0b5345);
    z-index: 30;
    height: 100vh;
    padding-top: 30px;
}

.dropdownOfNotifications {
    width: 160px;
    display: none;
    position: fixed;
    left: 35%;
    z-index: 30;
    top: 50px;
    background: linear-gradient(to right top, #2c3e50, #1d4455, #074a54, #004f4f, #0b5345);
    padding-top: 18px;
}

.notifications-message-dropdown-mobile,
.notifications-relation-dropdown-mobile,
.notifications-recommandation-dropdown-mobile {
    left: 25%;
}

.notifications-recommandation-dropdown-mobile,
.notifications-relation-dropdown-mobile,
.notifications-message-dropdown-mobile {
    margin-left: 0px;
}

.notifs-name>span {
    color: #E74C3C;
    font-weight: bold;
    margin-left: 10px;
}

.communaute-name,
.platform-name,
.notifs-name {
    color: white;
    font-size: 0.67rem;
    margin-top: -5px;
    text-align: left;
    margin-left: 8px;
    cursor: pointer;
    margin-bottom: 10px;
}

.more-communities,
.more-platforms {
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 15px;
}

.a-membre,
.a-membre:hover {
    text-decoration: none;
    color: grey;
}


/*/
  SECONDE NAVBAR : TOUT CE QUI EST CONTENU DANS LA NAVBAR
/*/
.second-navbar {
    background: rgba(39, 55, 70, .55);
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 25;
}

.conatiner-de-la-searchbar {
    margin-top: 8px;
}

.searchbar-dropdown {
    background: white;
    border-radius: 2px;
    padding: 20px;
    padding-top: 10px;
    max-height: 450px;
    width: 390px;
    margin-top: 8px;
    margin-left: 2%;
    transition: all 1s;
    position: absolute;
    display: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.resultat-recherche {
    width: 100%;
    height: 50px;
    cursor: pointer;
}

.search-icon-membre {
    margin-left: 10px;
    cursor: pointer;
}

.navbar-brand,
.navbar-brand:hover {
    text-decoration: none;
    color: #4A4B4B;
}

.photo-publier {
    border-radius: 50%;
    border: 1px solid #E0E0E0;
    margin-right: 10px;
}

.contenu-content {
    margin-top: -15px;
    margin-bottom: -18px;
}

.comenter {
    font-size: 0.7rem;
    font-weight: bold;
    margin-left: -5px;
}

.temps-de-publication-coment {
    font-size: 0.6rem;
}

.logo-de-ngboado-dans-la-navbar {
    margin-left: 65px;
    margin-top: 0px;
    border-radius: 50px;
}

.form {
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 300px;
    background-color: #E0E0E0;
    height: 35px;
    position: relative;
    top: 14px;
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid #019939;
    padding: 2px;
    margin-top: 0px;
    left: 60%;
}

.input {
    position: absolute;
    background-color: #E0E0E0;
    color: gray;
    top: 0;
    left: 0;
    width: 100%;
    height: 32.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    font-size: 0.9em;
    border-radius: 20px;
    padding: 0 20px;
}

.form .glyphicon {
    box-sizing: border-box;
    background-color: #E0E0E0;
    padding: 10px;
    width: 32.5px;
    height: 32.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #019939;
    text-align: center;
    font-size: 1em;
    transition: all 1s;
}

.form:hover {
    width: 380px;
    cursor: pointer;
    background: rgba(224, 224, 224, .5);
    color: gray;
    left: 59%;
}

.form:hover .input {
    display: block;
    background: rgba(224, 224, 224, .5);
    color: gray;
}



/*/
    DROPDOWN DE DECONNEXION
/*/
.dropdown-deconnexion{
	height: 60vh;
	background: transparent;
	border: none;
	width: 50%;
	left: 25%;
	position: fixed;
	top: 28vh;
	z-index: 45;
	display: none;
}

/**/
.modal-header-deconnexion{
	height: 20%;
	border-color: transparent;
}

.modal-header-deconnexion > button {
	margin-top: -5%;
}

.modal-header-deconnexion > button > span {
	color: white;
}

/**/
.modal-body-deconnexion{
	height: 80%;
	padding-top: 5%;
	padding-left: 0rem;
	overflow: none;
}

.blocItemDeconnexion{
	justify-content: center;
	align-items: center;
}

.itemBlocDeconnexion, .itemBlocDeconnexion2{
	display: flex;
	justify-content: center;
	align-items: center;
}

.itemBlocDeconnexion2 > h6{
	color: white;
	margin-top: 15px;
}

.itemImgBlocDeconnexion{
	height: 110px;
	width: 110px;
	border-radius: 50%;
	border: 1px solid #F4F4F4;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.itemImgDec{
	height: 75px;
    width: 75px;
    border-radius: 50%;
}



/*/
   NAVBAR FIXEE EN BAS (container des amis connectés)
/*/
.navbar-container-des-amis-connectes {
    background: linear-gradient(90deg, #3D952B, #336699);
    width: 100%;
}

.navbar-container-des-amis-connectes-mobile-xs {
    background: linear-gradient(90deg, #3D952B, #336699);
    display: none;
    width: 100%;
    overflow-x: scroll;
}

.container-des-elements {
    width: 200%;
    height: 38px;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-left: 120px;
    position: relative;
    top: 5px;
}

.container-des-elements-mobile-xs {
    width: 405%;
    height: 25px;
    overflow: hidden;
    left: -10px;
    position: relative;
    top: 0px;
}

.ami-connecte {
    font-size: 0.7rem;
    color: white;
}

.ami-connecte-mobile-xs {
    font-size: 0.6rem;
    color: white;
}

.un-container-d-un-ami-connecte {
    width: 160px;
    cursor: pointer;
}

.un-container-d-un-ami-connecte-mobile-xs {
    width: 150px;
}

.container-des-amis {
    padding-bottom: 5px;
}


/*/
    CONTAINER DES PARAMETRES 
/*/
.container-des-parametres {
    padding: 0 !important;
    margin-top: 21vh;
    height: 65vh;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.row-container-des-parametres {
    margin: 0px;
    padding: 0px !important;
    width: 100%;
    height: 100%;
}

.block-des-parametres, .block-des-parametres > .row{
    width: 100%;
    height: 100%;
}

.block-menus-parametres {
    width: 100%;
    height: 100%;
    background: #F4F4F4;
}

.block-menus-parametres>.row {
    width: 100%;
    height: 98%;
    display: flex;
    margin: 0em;
}

.setting-item {
    padding-bottom: 0px;
    cursor: pointer;
    height: 20%;
}

.setting-item > p {
    font-size: 0.7rem;
    margin-left: 5px;
    color: #4A4B4B;
    margin-top: 15%;
}

.setting-item > p:hover {
    color: #336699;
}

.setting-panel {
    width: 100%;
}

.setting-panel > p {
    color: #336699;
}

.block-elements-a-modifier {
    width: 100%;
    height: 100%;
    background: #F4F4F4;
    overflow-y: auto;
    overflow-x: hidden;
}


/*SETTING PANEL*/
.div-view-setting-panel {
    width: 100%;
    height: 50vh;
}

.setting-panel-title,
.info-general-title,
.security-panel-title,
.privacy-panel-title{
    border-bottom: 1px solid #E0E0E0;
    padding-top: 12px;
    padding-bottom: 7px;
    padding-left: 30px;
    color: #336699;
}

.setting-panel-info-1,
.setting-panel-info-2,
.setting-panel-info-3,
.privacy-panel-info-1,
.privacy-panel-info-2,
.privacy-panel-info-3 {
    border-bottom: 1px solid #E0E0E0;
    padding-top: 12px;
    padding-bottom: 7px;
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 8px;
    color: #4A4B4B;
}

.setting-panel-info-1>h6,
.setting-panel-info-2>h6,
.setting-panel-info-3>h6,
.privacy-panel-info-1>h6,
.privacy-panel-info-2>h6,
.privacy-panel-info-3>h6 {
    font-size: 0.85rem;
}

.setting-panel-info-1>p,
.setting-panel-info-2>p,
.setting-panel-info-3>p,
.privacy-panel-info-1>p,
.privacy-panel-info-2>p,
.privacy-panel-info-3>p {
    font-size: 0.75rem;
    color: #4A4B4B;
}

.div-view-privacy-panel {
    width: 100%;
    display: none;
    height: 50vh;
}


/*INFORMATIONS GENERALES*/
.div-view-info-general {
    width: 100%;
    display: none;
    height: 100%;
}

.info-general-info {
    border-bottom: 1px solid #E0E0E0;
    padding-top: 12px;
    padding-bottom: 7px;
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 8px;
}

.info-general-info>.row {
    margin-top: 25px;
    color: #4A4B4B;
}

.info-general-info>h6 {
    font-size: 0.85rem;
}

.info-general-info > .security-title {
    margin-bottom: 25px;
}

label {
    margin-left: 5px;
    font-size: 0.9rem;
    color: #4A4B4B;
}

.form-control,
.form-control:hover,
.form-control:focus {
    background: #F4F4F4;
}

.form-controle-nv-1 {
    margin-bottom: 15px;
}

.btn-save {
    color: gray;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 32px;
    margin-left: -20px;
    border: 1px solid silver;
}

.btn-save:hover {
    color: gray;
}

.account-deactivate-info {
    border-bottom: 1px solid #E0E0E0;
    padding-top: 12px;
    padding-bottom: 20px;
    padding-left: 30px;
    margin-left: 20px;
    margin-top: 70px;
    margin-bottom: 8px;
}

.account-deactivate-info>form>.row {
    margin-top: 25px;
}

.account-deactivate-info>h6 {
    font-size: 0.85rem;
    color: #4A4B4B;
}

.btn-save-security-panel, .btn-save-security-panel:hover {
    background: #336699;
    color: white;
    font-size: 0.8rem;
    text-align: center;
    margin-top: 32px;
}


/*FRIEND LIST*/
.div-view-friend-list {
    width: 100%;
    display: none;
    height: 50vh;
}

.affichageBloc{
    width: 100%;
    height: 100%;
    padding: 20px;
}

.affichage-friend {
    margin-bottom: 20px;
}

.affichage-friend > div {
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 20px;
    padding-left: 0em;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-radius: 2px;
}

.friendImg{
    border-radius: 50%;
    border: 1px solid #336699;
    padding: 4px;
}

.friendName{
    font-size: 0.7rem;
    margin-left: 5px;
    color: #336699;
}


/*ACCOUNT DEACTIVATE*/
.div-view-account-deactivate {
    width: 100%;
    display: none;
}


/*/
   BOITE DE COMMENTAIRES
/*/

.couverture-du-commentaire {
    background: rgba(39, 55, 70, .55);
    position: fixed;
    top: 0%;
    left: 0%;
    width: 200%;
    height: 110vh;
    z-index: 20;
    display: none;
}

.boite-de-commantaires {
    background: white;
    padding: 15px 20px 3px 20px;
    position: fixed;
    left: 28.8%;
    top: 40vh;
    border: 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 30;
    display: none;
}

.titre-du-commentaire {
    text-align: center;
    color: #4A4B4B;
    margin-bottom: 15px;
}

.background-fond {
    background: linear-gradient(to right top, #2c3e50, #1d4455, #074a54, #004f4f, #0b5345);
    padding: 0px;
}

.nom-publier-a-commenter {
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
}

.photo-publier-a-commenter {
    border-radius: 50%;
    margin-right: 5px;
    border: 2px solid white;
}

.temps-de-publication-a-commenter {
    font-size: 0.7rem;
    color: white;
}

.text-contenu-a-commenter {
    font-size: 0.6rem;
    text-align: center;
    margin-top: 20px;
    color: white;
}

.contenu-multimedia-a-commenter {
    margin-top: 5px;
}

.contenair-du-commentaire {
    height: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 5px;
}

.input-commentaire-bloc {
    margin-left: -10px;
}

.input-coment-submit {
    margin-top: 3px;
}


/*/
   SYSTEME DE CHAT
/*/

.grand-block-du-chat {
    border-radius: 4px;
    background: white;
    position: fixed;
    right: 30px;
    bottom: 80px;
    width: 250px;
    z-index: 20;
    display: none;
}

.container-du-haut-avec-fond-linear-gradient {
    background: linear-gradient(90deg, #3D952B, #336699);
    padding: 8px 0px 10px 0px;
    width: 250px;
    margin-left: -15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.button-fermer {
    position: relative;
    left: 80%;
    cursor: pointer;
}

.block-du-text-et-la-photo {
    text-align: center;
    color: white;
    margin-top: 20px;
}

.block-du-text-et-la-photo>h6 {
    font-size: 1rem;
}

.block-du-text-et-la-photo>p {
    font-size: 0.75rem;
    margin-top: 5px;
}

.photo-destinataire {
    border: 2px solid white;
    border-radius: 50%;
    margin-top: 15px;
}

.container-des-messages {
    background: white;
    height: 200px;
    width: 107%;
}

.block-message-fixed {
    overflow-y: scroll;
    width: 100%;
    height: 98%;
}

.block-des-message-scroll {
    height: 200%;
    width: 100%;
}

.form-control {
    font-size: 0.85rem;
}

.container-de-l-input {
    margin-bottom: 0px;
    width: 250px;
    margin-left: -15px;
}

.container-de-l-input>input {
    border-radius: 0px;
    border-color: white;
    border-top-color: silver;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 15px;
}

.message-chat-input {
    margin-top: -5px;
}

.message-chat-send {
    margin-left: -10px;
    margin-top: -2px;
}


/*/
    CODE DE LA PAGE GALERIE 
/*/
.row-block-galeries {
    padding: 25px;
    padding-left: 53px;
    padding-bottom: 0px;
}

.block-container-folder,
.block-fichier {
    padding: 0 !important;
}

.block-fichier {
    border: 10px solid white;
    width: 90%;
    margin-bottom: 25px;
}

.title-options {
    text-align: center;
    margin-bottom: 25px;
}

.title-options>span {
    color: #336699;
    cursor: pointer;
}

.imagesFile-Title {
    margin-right: 30px;
    font-weight: bold;
}

.container-videos-folder {
    display: none;
}


/*/
    SCROLL BARRE
/*/


/* width */

 ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border: 1px solid grey;
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #273746;
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #273746;
}


/*/
    FULL RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN
/*/


/*/
    ORDINATEUR PLUS LARGE (LG)
/*/

@media only screen and (min-width: 1500px) {}


/*/
   ORDINATEUR DE PLUS DE 12.5 POUCES (LG)
/*/

@media only screen and (min-width: 992px) and (max-width: 1215px) {
    /*/
        DROPDOWN DE DECONNEXION
    /*/
    .dropdown-deconnexion{
        width: 60%;
        left: 20%;
    }
    .itemImgBlocDeconnexion{
        height: 100px;
        width: 100px;
    }
    
    .itemImgDec{
        height: 65px;
        width: 65px;
    }
    /*/
        CONTAINER DES PARAMETRES 
    /*/
    .container-des-parametres {
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }
    /* MENU DES PARAMETRES */
    .setting-item > p {
        font-size: 0.7rem;
        margin-left: 15px;
        color: #4A4B4B;
        margin-top: 17%;
    }
    /*/
     SYSTEME DE CHAT
    /*/
    .grand-block-du-chat {
        right: 20px;
        bottom: 70px;
        width: 220px;
    }
    .container-du-haut-avec-fond-linear-gradient {
        width: 220px;
    }
    .container-de-l-input {
        width: 220px;
    }
}


/*/
    TABLETTES DE 10.33 POUCES MAXIMUM (MEDIUM)
/*/

@media only screen and (max-width: 992px) {
    /*/
        DROPDOWN DE DECONNEXION
    /*/
    .dropdown-deconnexion{
        width: 65%;
        left: 17.5%;
    }
    .itemImgBlocDeconnexion{
        height: 100px;
        width: 100px;
    } 
    .itemImgDec{
        height: 65px;
        width: 65px;
    }
    /**/
    .navbar-toggler {
        margin-top: -13px;
    }
    .btn-danger-devenir-membre {
        margin-top: 0px;
    }
    /*/
    SECONDE NAVBAR : TOUT CE QUI EST CONTENU DANS LA NAVBAR
    /*/
    .logo-de-ngboado-dans-la-navbar {
        margin-left: 0px
    }
    .container-des-notifications-mobile {
        display: block;
    }
    .form {
        width: 300px;
        left: 50%;
    }
    .input {
        font-size: 0.8em;
    }
    .form:hover {
        width: 300px;
        left: 50%;
    }
    .searchbar-dropdown {
        width: 350px;
        margin-top: 8px;
        margin-left: -3.5%;
    }
    /*/
        SYSTEME DE CHAT
    /*/
    .grand-block-du-chat {
        right: 32%;
        bottom: 70px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }
    /*/
     NAVBAR FIXEE EN BAS (container des amis connectés)
    /*/
    .container-des-elements {
        padding-left: 0px;
    }
    .ami-connecte {
        font-size: 0.68rem
    }
    .container-des-amis {
        padding-left: 120px;
    }
    /*/
     BOITE DE COMMENTAIRES
    /*/
    .boite-de-commantaires {
        left: 18%;
    }
    .block-recommandations {
        display: none;
    }
    /*/
        CONTAINER DES PARAMETRES 
    /*/
    .container-des-parametres {
        width: 97%;
        margin-left: 2%;
        margin-right: 1%;
        margin-top: 19vh;
        height: 70vh;
    }
    .setting-item > p {
        font-size: 0.7rem;
    }
    
}


/*/
    TABLETTES DE 8 POUCES MAXIMUM (SMALL)
/*/

@media only screen and (max-width: 767px) {
    /*/
        DROPDOWN DE DECONNEXION
    /*/
    .dropdown-deconnexion{
        width: 80%;
        left: 10%;
    }
    .itemImgBlocDeconnexion{
        height: 105px;
        width: 105px;
    }
    
    .itemImgDec{
        height: 70px;
        width: 70px;
    }
    /*/
        CONTAINER DES PARAMETRES
    /*/
    .container-des-parametres {
        width: 98%;
        margin-left: 2%;
        margin-right: 0%;
    }
    .setting-item > p {
        font-size: 0.7rem;
        margin-left: 0px;
        margin-top: 32%;
    }
    .account-deactivate-info {
        padding-left: 10px;
        padding-right: 50px;
    }
    .btn-save-security-panel, .btn-save-security-panel:hover {
        font-size: 0.7rem;
        margin-top: 5px;
    }
    
    /*/
    SECONDE NAVBAR : TOUT CE QUI EST CONTENU DANS LA NAVBAR
    /*/
    .logo-de-ngboado-dans-la-navbar {
        margin-left: 0px
    }
    .form {
        width: 250px;
        left: 50%;
    }
    .input {
        font-size: 0.7em;
    }
    .form:hover {
        width: 250px;
        left: 50%;
    }
    /*/
     BOITE DE COMMENTAIRES
    /*/
    .boite-de-commantaires {
        left: 18%;
    }
}


/*/
    SMARTPHONES DE 6 POUCES MAXIMUM (EXTRA SMALL)
/*/

@media only screen and (max-width: 575px) {
    /*/
        DROPDOWN DE DECONNEXION
    /*/
    .dropdown-deconnexion{
        width: 85%;
        left: 7.5%;
    }
    /*/
        CONTAINER DES PARAMETRES
    /*/
    .setting-item > p {
        font-size: 0.6rem;
        margin-left: 0px;
    }

    .symbol-menu{
        display: none;
    }

    .div-view-account-deactivate{
        height: 50vh;
    }

    .account-deactivate-info {
        padding-left: 10px;
        padding-right: 50px;
    }

    /*FRIEND LIST*/
    .user-friend>span {
        font-size: 0.65rem;
    }

    .container-button-users {
        left: 13%;
    }

    .btn-delete,
    .btn-signaler {
        font-size: 0.65rem
    }

    .btn-signaler {
        margin-left: 10px;
    }

    
    /*/
        NAVBAR FIXEE EN BAS (container des amis connectés)
    /*/
    .navbar-container-des-amis-connectes {
        display: none;
    }
    .navbar-container-des-amis-connectes-mobile-xs {
        display: block;
    }
    /*/
        BOITE DE COMMENTAIRES
    /*/
    .boite-de-commantaires {
        left: 0%;
    }
}