/*/
  INFORMATIONS :
  LES COMMENTAIRES DU CSS SERONT AFFICHES COMME CELA
/*/


/*/
  DEBUT DU CODE CSS
/*/

body {
    background: #020f12;
    background-size: cover;
    height: 100vh;
}

.price-w3ls {
    background: red;
    margin-left: 30%;
}

section.fourth-w3ls {
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    -ms-background-size: 100% 100%;
    padding: 100px 0;
}

section.fourth-w3ls h4 {
    font-size: 40px;
    font-weight: normal;
    text-align: center;
    color: #fff;
    padding-bottom: 30px;
    font-family: 'Exo 2', sans-serif;
}

.cd-pricing-header {
    background: #0b5345;
}

.col-lg-4.col-md-4.calendar-agileinfo {
    padding-left: 0;
}

.col-lg-4.col-md-4.hotel-agileinfo {
    padding-right: 0;
}

li {
    list-style: none;
}

ul,
ul li em {
    padding-left: 0 !important;
}

.cd-pricing-features ul li span .fa {
    font-size: x-large;
}

.cd-pricing-features ul li span .fa {
    font-size: 50px;
}

.redI {
    color: #f44336;
}

.greenI {
    color: #3fa044;
}

.no {
    cursor: no-drop !important;
}


/* width */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border: 1px solid grey;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #273746;
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #273746;
}


/*/
    FULL RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN
/*/


/*/
    ORDINATEUR PLUS LARGE (LG)
 /*/

@media only screen and (min-width: 1500px) {}


/*/
     ORDINATEUR DE PLUS DE 12.5 POUCES (LG)
  /*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .cd-pricing>li {
        width: 28.0%;
        float: left;
        margin-right: 20%;
        margin-left: 0%;
    }
}


/*/
    TABLETTES DE 10.33 POUCES MAXIMUM (MEDIUM)
/*/

@media (max-width: 991px) {
    .cd-pricing {
        max-width: 1000px;
    }
    .cd-pricing>li {
        margin-right: 17%;
        margin-left: -4%;
        width: 40%;
    }
}


/*/
    TABLETTES DE 8 POUCES MAXIMUM (SMALL)
/*/

@media only screen and (max-width: 767px) {
    .cd-pricing>li {
        margin-right: 0%;
        margin-left: 0%;
        width: 75%;
    }
}