/*/
  INFORMATIONS :
  - LES COMMENTAIRES DU CSS SERONT AFFICHES COMME CELA
/*/


/*/
    DEBUT DU CODE CSS AVEC LA BALISE BODY
/*/

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    overflow-x: hidden;
    background-color: #E0E0E0;
}


/*/
    NAVBAR : TOUT CE QUI EST CONTENU DANS LA NAVBAR
/*/

.navbar-top {
    z-index: 28;
    background: linear-gradient(90deg, #008d0d, #336699);
    height: 50px;
}

.btn-danger-devenir-membre {
    margin-top: 0px;
    width: 180px;
}

.nav-items {
    font-weight: bold;
    word-spacing: 50px;
    padding: 0px 15px 0px 15px;
}

.image-rounded {
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}

.btn-danger {
    font-size: 0.7rem;
    margin-top: 14px;
    font-weight: bold;
}

.navbar-nav {
    margin-left: -100px;
}

.notifs {
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.notification-enfant,
.shopping-enfant,
.service-enfant {
    display: none
}

.shopping-parent,
.service-parent {
    padding-left: 100px;
}

.notification-parent {
    margin-left: -30px;
}

.notifications-message-dropdown,
.notifications-relation-dropdown,
.notifications-recommandation-dropdown {
    max-height: 60vh;
    background: white;
    width: 280px;
    position: absolute;
    top: 50px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
}

.notifications-message-dropdown-mobile,
.notifications-relation-dropdown-mobile,
.notifications-recommandation-dropdown-mobile {
    display: none;
}

.notifications-message-dropdown {
    margin-left: -60px;
}

.notifications-relation-dropdown {
    margin-left: 10px;
}

.notifications-recommandation-dropdown {
    margin-left: 65px;
}

.notification-message-title-blc,
.notification-relation-title-blc,
.notification-recommandation-title-blc {
    height: 40px;
    padding-top: 10px;
    text-align: center;
    border-top: 1px solid #CCD1D1;
    border-bottom: 1px solid #CCD1D1;
    font-size: 0.75rem;
    color: #336699;
    font-weight: bold;
}

.notification-message-scroll,
.notification-relation-scroll,
.notification-recommandation-scroll {
    height: 85%;
    max-height: 50vh;
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.un-message-notification,
.une-relation-notification,
.une-recommandation-notification {
    border-bottom: 1px solid #CCD1D1;
    padding-top: 15px;
    cursor: pointer;
}

.photo-sender-message-notif,
.photo-sender-relation-notif,
.photo-sender-recommandation-notif {
    border-radius: 50%;
}

.nom-sender-message-notif,
.nom-sender-relation-notif,
.nom-sender-recommandation-notif {
    font-size: 0.75rem;
    color: #336699;
    font-weight: bold;
    margin-left: 5px;
}

.text-sender-message-notif,
.text-sender-relation-notif,
.text-sender-recommandation-notif {
    font-size: 0.7rem;
    color: #4A4B4B;
    margin-left: 35px;
}


/*APPAREILS MOBILES*/


/* NOUVEAU CODE AJOUTE */

.container-des-notifications-mobile {
    width: 30px;
    display: none;
    margin-left: 2%;
    margin-top: -16px;
}

.dropdownOfMenu {
    width: 180px;
    display: none;
    position: fixed;
    left: 0px;
    top: 50px;
    background: linear-gradient(to right top, #2c3e50, #1d4455, #074a54, #004f4f, #0b5345);
    z-index: 30;
    height: 100vh;
    padding-top: 30px;
}

.dropdownOfNotifications {
    width: 160px;
    display: none;
    position: fixed;
    left: 35%;
    z-index: 30;
    top: 50px;
    background: linear-gradient(to right top, #2c3e50, #1d4455, #074a54, #004f4f, #0b5345);
    padding-top: 18px;
}

.notifications-message-dropdown-mobile,
.notifications-relation-dropdown-mobile,
.notifications-recommandation-dropdown-mobile {
    left: 25%;
}

.notifications-recommandation-dropdown-mobile,
.notifications-relation-dropdown-mobile,
.notifications-message-dropdown-mobile {
    margin-left: 0px;
}

.notifs-name>span {
    color: #E74C3C;
    font-weight: bold;
    margin-left: 10px;
}

.communaute-name,
.platform-name,
.notifs-name {
    color: white;
    font-size: 0.67rem;
    margin-top: -5px;
    text-align: left;
    margin-left: 8px;
    cursor: pointer;
    margin-bottom: 10px;
}

.communaute-name,
.platform-name {
    margin-left: 15px;
}

.more-communities {
    text-decoration: underline;
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: 15px;
    margin-left: 15px;
}

.communuties-block {
    margin-top: 10vh;
}

.autre-plateformes {
    margin-top: 10vh;
}


/* NOUVEAU CODE AJOUTE FIN */


/*/
  SECONDE NAVBAR : TOUT CE QUI EST CONTENU DANS LA NAVBAR
/*/

.second-navbar {
    background: rgba(39, 55, 70, .55);
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 25;
}

.conatiner-de-la-searchbar {
    margin-top: 8px;
    margin-left: -1%;
}

.searchbar-dropdown {
    background: white;
    border-radius: 2px;
    padding: 20px;
    padding-top: 10px;
    max-height: 450px;
    width: 390px;
    margin-top: 8px;
    margin-left: 2%;
    transition: all 1s;
    position: absolute;
    display: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.resultat-recherche {
    width: 100%;
    height: 50px;
    cursor: pointer;
}

.search-icon-membre {
    margin-left: 10px;
    cursor: pointer;
}

.logo-de-ngboado-dans-la-navbar {
    margin-left: 65px;
    margin-top: 0px;
    border-radius: 50px;
}

.form {
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 300px;
    background-color: #E0E0E0;
    height: 35px;
    position: relative;
    top: 14px;
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid #019939;
    padding: 2px;
    margin-top: 0px;
    left: 60%;
}

.input {
    position: absolute;
    background-color: #E0E0E0;
    color: gray;
    top: 0;
    left: 0;
    width: 100%;
    height: 32.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    font-size: 0.9em;
    border-radius: 20px;
    padding: 0 20px;
}

.form .glyphicon {
    box-sizing: border-box;
    background-color: #E0E0E0;
    padding: 10px;
    width: 32.5px;
    height: 32.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #019939;
    text-align: center;
    font-size: 1em;
    transition: all 1s;
}

.form:hover {
    width: 380px;
    cursor: pointer;
    background: rgba(224, 224, 224, .5);
    color: gray;
    left: 59%;
}

.form:hover .input {
    display: block;
    background: rgba(224, 224, 224, .5);
    color: gray;
}

.icon-session {
    margin-left: 8px;
}


/* NOUVEAU CODE AJOUTE */


/*/
    DROPDOWN DE DECONNEXION
/*/

.dropdown-deconnexion {
    height: 60vh;
    background: transparent;
    border: none;
    width: 50%;
    left: 25%;
    position: fixed;
    top: 28vh;
    z-index: 45;
    display: none;
}


/**/

.modal-header-deconnexion {
    height: 20%;
    border-color: transparent;
    cursor: pointer;
}

.bi-x {
    color: white;
}


/**/

.modal-body-deconnexion {
    height: 80%;
    padding-top: 5%;
    padding-left: 0rem;
    overflow: none;
}

.blocItemDeconnexion {
    justify-content: center;
    align-items: center;
}

.itemBlocDeconnexion2>h6 {
    color: white;
    margin-top: 15px;
}

.itemImgBlocDeconnexion {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 1px solid #F4F4F4;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.itemImgDec {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}


/* NOUVEAU CODE AJOUTE FIN */


/*/
   CONTAINER RECHERCHES
/*/

.container-general {
    margin-top: 135px;
}

.container-recherche {
    width: 90%;
    margin-left: 5%;
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: white;
    margin-bottom: 20px;
}

.block-recherche-membres {
    background: #F4F4F4;
    max-height: 400px;
    padding: 0px;
    border: 15px solid white;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    padding-bottom: 70px;
}

.div-hr-separation {
    margin-top: 50px;
}

.block-recherche-communautes {
    margin-top: 50px;
}

.titre-membre-block {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background: white;
    margin-top: 20px;
    color: #4A4B4B;
    text-align: center;
    padding: 5px;
}

#recherche-membres-scrollable,
#recherche-communaute-scrollable {
    width: 100%;
    height: 100%;
    padding-top: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 30px;
}

.un-membre-affiche {
    background: white;
    padding: 10px;
    width: 85%;
    margin-top: 20px;
    margin-bottom: 8px;
    cursor: pointer;
}

.un-membre-affiche>img {
    margin-bottom: 8px;
}

.un-membre-affiche>p {
    font-size: 0.8rem;
    margin-bottom: 5px;
    text-align: center;
    color: #4A4B4B;
}

.text-aucun-membre-trouve {
    text-align: center;
    position: relative;
    top: 30%;
    display: none;
}


/*/
   BOITE DE COMMENTAIRES
/*/

.couverture-du-commentaire {
    background: rgba(39, 55, 70, .55);
    position: fixed;
    top: 0%;
    left: 0%;
    width: 200%;
    height: 110vh;
    z-index: 20;
    display: none;
}


/*/
   SYSTEME DE CHAT
/*/

.grand-block-du-chat {
    border-radius: 4px;
    background: white;
    position: fixed;
    right: 30px;
    bottom: 80px;
    width: 250px;
    z-index: 20;
    display: none;
}

.container-du-haut-avec-fond-linear-gradient {
    background: linear-gradient(90deg, #008d0d, #336699);
    padding: 8px 0px 10px 0px;
    width: 250px;
    margin-left: -15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.button-fermer {
    position: relative;
    left: 80%;
    cursor: pointer;
}

.block-du-text-et-la-photo {
    text-align: center;
    color: white;
    margin-top: 20px;
}

.block-du-text-et-la-photo>h6 {
    font-size: 1rem;
}

.block-du-text-et-la-photo>p {
    font-size: 0.75rem;
    margin-top: 5px;
}

.photo-destinataire {
    border: 2px solid white;
    border-radius: 50%;
    margin-top: 15px;
}

.container-des-messages {
    background: white;
    height: 200px;
    width: 107%;
}

.block-message-fixed {
    overflow-y: scroll;
    width: 100%;
    height: 98%;
}

.block-des-message-scroll {
    height: 200%;
    width: 100%;
}

.form-control {
    font-size: 0.85rem;
}

.container-de-l-input {
    margin-bottom: 0px;
    width: 250px;
    margin-left: -15px;
}

.container-de-l-input>input {
    border-radius: 0px;
    border-color: white;
    border-top-color: silver;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 15px;
}

.message-chat-input {
    margin-top: -5px;
}

.message-chat-send {
    margin-left: -10px;
    margin-top: -2px;
}


/*/
   NAVBAR FIXEE EN BAS (container des amis connectés)
/*/

.navbar-container-des-amis-connectes {
    background: linear-gradient(90deg, #008d0d, #336699);
    width: 100%;
}

.navbar-container-des-amis-connectes-mobile-xs {
    background: linear-gradient(90deg, #008d0d, #336699);
    display: none;
    width: 100%;
    overflow-x: scroll;
}

.container-des-elements {
    width: 200%;
    height: 38px;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-left: 120px;
    position: relative;
    top: 5px;
}

.container-des-elements-mobile-xs {
    width: 405%;
    height: 25px;
    overflow: hidden;
    left: -10px;
    position: relative;
    top: 0px;
}

.ami-connecte {
    font-size: 0.7rem;
    color: white;
    margin-left: 5px;
    font-weight: bold;
}

.ami-connecte-mobile-xs {
    font-size: 0.6rem;
    color: white;
    margin-left: 5px;
    font-weight: bold;
}

.un-container-d-un-ami-connecte {
    width: 160px;
    cursor: pointer;
}

.un-container-d-un-ami-connecte-mobile-xs {
    width: 150px;
}

.container-des-amis {
    padding-bottom: 5px;
}


/*/
    SCROLL BARRE
/*/


/* width */

 ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border: 1px solid grey;
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #273746;
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #273746;
}


/*/
    FULL RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN
 /*/


/*/
    ORDINATEUR PLUS LARGE (LG)
/*/

@media only screen and (min-width: 1500px) {
    .container-general {
        max-width: 1500px;
    }
}


/*/
   ORDINATEUR DE PLUS DE 12.5 POUCES (LG)
/*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /* NOUVEAU CODE AJOUTE */
    /*/
        DROPDOWN DE DECONNEXION
    /*/
    .dropdown-deconnexion {
        width: 60%;
        left: 20%;
    }
    .itemImgBlocDeconnexion {
        height: 100px;
        width: 100px;
    }
    .itemImgDec {
        height: 65px;
        width: 65px;
    }
    /* NOUVEAU CODE AJOUTE FIN */
    /*/
        CONTAINER DE RECHERCHES
    /*/
    .container-recherche {
        width: 95%;
        margin-left: 2.5%;
    }
    #recherche-membres-scrollable,
    #recherche-communaute-scrollable {
        padding-left: 10px;
    }
    .un-membre-affiche {
        width: 95%;
    }
    .un-membre-affiche>p {
        font-size: 0.7rem;
    }
    /*/
     SYSTEME DE CHAT
    /*/
    .grand-block-du-chat {
        right: 20px;
        bottom: 70px;
        width: 220px;
    }
    .container-du-haut-avec-fond-linear-gradient {
        width: 220px;
    }
    .container-de-l-input {
        width: 220px;
    }
}


/*/
    TABLETTES DE 10.33 POUCES MAXIMUM (MEDIUM)
/*/

@media only screen and (max-width: 991px) {
    /* NOUVEAU CODE AJOUTE */
    /*/
        DROPDOWN DE DECONNEXION
    /*/
    .dropdown-deconnexion {
        width: 65%;
        left: 17.5%;
    }
    .itemImgBlocDeconnexion {
        height: 100px;
        width: 100px;
    }
    .itemImgDec {
        height: 65px;
        width: 65px;
    }
    /**/
    .navbar-toggler {
        margin-top: -13px;
    }
    .btn-danger-devenir-membre {
        margin-top: 0px;
    }
    /* MENU DROPDOWN */
    .titre-publicites {
        font-size: 0.65rem;
        margin-left: 15px;
        color: gray;
    }
    /* NOUVEAU CODE AJOUTE FIN */
    /*/
    SECONDE NAVBAR : TOUT CE QUI EST CONTENU DANS LA NAVBAR
    /*/
    .logo-de-ngboado-dans-la-navbar {
        margin-left: 0px
    }
    .container-des-notifications-mobile {
        display: block;
    }
    .form {
        width: 300px;
        left: 50%;
    }
    .input {
        font-size: 0.8em;
    }
    .form:hover {
        width: 300px;
        left: 50%;
    }
    .searchbar-dropdown {
        width: 350px;
        margin-top: 8px;
        margin-left: -3.5%;
    }
    /*/
        CONTAINER DE RECHERCHES
    /*/
    .container-recherche {
        width: 95%;
        margin-left: 2.5%;
    }
    #recherche-membres-scrollable,
    #recherche-communaute-scrollable {
        padding-left: 10px;
    }
    .un-membre-affiche {
        width: 95%;
    }
    .un-membre-affiche>p {
        font-size: 0.7rem;
    }
    /*/
        SYSTEME DE CHAT
    /*/
    .grand-block-du-chat {
        right: 32%;
        bottom: 70px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }
    /*/
        NAVBAR FIXEE EN BAS (container des amis connectés)
    /*/
    .container-des-elements {
        padding-left: 0px;
    }
    .ami-connecte {
        font-size: 0.68rem
    }
    .container-des-amis {
        padding-left: 120px;
    }
}


/*/
    TABLETTES DE 8 POUCES MAXIMUM (SMALL)
/*/

@media only screen and (max-width: 767px) {
    /* NOUVEAU CODE AJOUTE */
    /*/
        DROPDOWN DE DECONNEXION
    /*/
    .dropdown-deconnexion {
        width: 80%;
        left: 10%;
    }
    .itemImgBlocDeconnexion {
        height: 105px;
        width: 105px;
    }
    .itemImgDec {
        height: 70px;
        width: 70px;
    }
    /* NOUVEAU CODE AJOUTE FIN */
    /*/
        SECONDE NAVBAR : TOUT CE QUI EST CONTENU DANS LA NAVBAR
    /*/
    .logo-de-ngboado-dans-la-navbar {
        margin-left: 0px
    }
    .form {
        width: 250px;
        left: 50%;
    }
    .input {
        font-size: 0.7em;
    }
    .form:hover {
        width: 250px;
        left: 50%;
    }
}


/*/
    SMARTPHONES DE 6 POUCES MAXIMUM (EXTRA SMALL)
/*/

@media only screen and (max-width: 575px) {
    /* NOUVEAU CODE AJOUTE */
    /*/
        DROPDOWN DE DECONNEXION
    /*/
    .dropdown-deconnexion {
        width: 85%;
        left: 7.5%;
    }
    /* NOUVEAU CODE AJOUTE FIN */
    /*/
        NAVBAR FIXEE EN BAS (container des amis connectés)
    /*/
    .navbar-container-des-amis-connectes {
        display: none;
    }
    .navbar-container-des-amis-connectes-mobile-xs {
        display: block;
    }
    /*/
        CONTAINER DE RECHERCHES
    /*/
    .un-membre-affiche {
        width: 97%;
    }
    /*/
     BOITE DE COMMENTAIRES
    /*/
    .boite-de-commantaires {
        left: 0%;
    }
}