/*/
  INFORMATIONS :
- LES COMMENTAIRES DU CSS SERONT AFFICHES COMME CELA
/*/


/*/
  DEBUT DU CODE CSS AVEC LA BALISE BODY
/*/

body {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    overflow-x: hidden;
    background-color: #E0E0E0;
}


/*/
    NAVBAR : TOUT CE QUI EST CONTENU DANS LA NAVBAR
/*/

.navbar-top {
    z-index: 28;
    background: linear-gradient(90deg, #008d0d, #336699);
    height: 50px;
}

.btn-danger-devenir-membre {
    margin-top: 0px;
    width: 180px;
}

.nav-items {
    font-weight: bold;
    word-spacing: 50px;
    padding: 0px 15px 0px 15px;
}

.image-rounded {
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}

.btn-danger {
    font-size: 0.7rem;
    margin-top: 14px;
    font-weight: bold;
}

.navbar-nav {
    margin-left: -100px;
}

.notifs {
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
}

.notification-enfant,
.shopping-enfant,
.service-enfant {
    display: none
}

.shopping-parent,
.service-parent {
    padding-left: 100px;
}

.notification-parent {
    margin-left: -30px;
}

.notifications-message-dropdown,
.notifications-relation-dropdown,
.notifications-recommandation-dropdown {
    max-height: 60vh;
    background: white;
    width: 280px;
    position: absolute;
    top: 50px;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding-top: 10px;
    padding-bottom: 10px;
    display: none;
}

.notifications-message-dropdown-mobile,
.notifications-relation-dropdown-mobile,
.notifications-recommandation-dropdown-mobile {
    display: none;
}

.notifications-message-dropdown {
    margin-left: -60px;
}

.notifications-relation-dropdown {
    margin-left: 10px;
}

.notifications-recommandation-dropdown {
    margin-left: 65px;
}

.notification-message-title-blc,
.notification-relation-title-blc,
.notification-recommandation-title-blc {
    height: 40px;
    padding-top: 10px;
    text-align: center;
    border-top: 1px solid #CCD1D1;
    border-bottom: 1px solid #CCD1D1;
    font-size: 0.75rem;
    color: #336699;
    font-weight: bold;
}

.notification-message-scroll,
.notification-relation-scroll,
.notification-recommandation-scroll {
    height: 85%;
    max-height: 50vh;
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 10px;
    padding-right: 10px;
}

.un-message-notification,
.une-relation-notification,
.une-recommandation-notification {
    border-bottom: 1px solid #CCD1D1;
    padding-top: 15px;
    cursor: pointer;
}

.photo-sender-message-notif,
.photo-sender-relation-notif,
.photo-sender-recommandation-notif {
    border-radius: 50%;
}

.nom-sender-message-notif,
.nom-sender-relation-notif,
.nom-sender-recommandation-notif {
    font-size: 0.75rem;
    color: #336699;
    font-weight: bold;
    margin-left: 5px;
}

.text-sender-message-notif,
.text-sender-relation-notif,
.text-sender-recommandation-notif {
    font-size: 0.7rem;
    color: #4A4B4B;
    margin-left: 35px;
}


/*APPAREILS MOBILES*/


/* NOUVEAU CODE AJOUTE */

.container-des-notifications-mobile {
    width: 30px;
    display: none;
    margin-left: 2%;
    margin-top: -16px;
}

.dropdownOfMenu {
    width: 180px;
    display: none;
    position: fixed;
    left: 0px;
    top: 50px;
    background: linear-gradient(to right top, #2c3e50, #1d4455, #074a54, #004f4f, #0b5345);
    z-index: 30;
    height: 100vh;
    padding-top: 30px;
}

.dropdownOfNotifications {
    width: 160px;
    display: none;
    position: fixed;
    left: 35%;
    z-index: 30;
    top: 50px;
    background: linear-gradient(to right top, #2c3e50, #1d4455, #074a54, #004f4f, #0b5345);
    padding-top: 18px;
}

.notifications-message-dropdown-mobile,
.notifications-relation-dropdown-mobile,
.notifications-recommandation-dropdown-mobile {
    left: 25%;
}

.notifications-recommandation-dropdown-mobile,
.notifications-relation-dropdown-mobile,
.notifications-message-dropdown-mobile {
    margin-left: 0px;
}

.notifs-name>span {
    color: #E74C3C;
    font-weight: bold;
    margin-left: 10px;
}

.titre-publicites {
    font-size: 0.8rem;
    margin-left: 10px;
    color: gray;
}

.communaute-name,
.platform-name,
.notifs-name {
    color: white;
    font-size: 0.67rem;
    margin-top: -5px;
    text-align: left;
    margin-left: 8px;
    cursor: pointer;
    margin-bottom: 10px;
}

.platform-name {
    margin-left: 15px;
}

.autre-plateformes {
    margin-top: 10vh;
}


/* NOUVEAU CODE AJOUTE */


/*/
  SECONDE NAVBAR : TOUT CE QUI EST CONTENU DANS LA NAVBAR
/*/

.second-navbar {
    background: rgba(39, 55, 70, .55);
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 25;
}

.conatiner-de-la-searchbar {
    margin-top: 8px;
    margin-left: -1%;
}

.searchbar-dropdown {
    background: white;
    border-radius: 2px;
    padding: 20px;
    padding-top: 10px;
    max-height: 450px;
    width: 390px;
    margin-top: 8px;
    margin-left: 2%;
    transition: all 1s;
    position: absolute;
    display: none;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.resultat-recherche {
    width: 100%;
    height: 50px;
    cursor: pointer;
}

.search-icon-membre {
    margin-left: 10px;
    cursor: pointer;
}

.logo-de-ngboado-dans-la-navbar {
    margin-left: 65px;
    margin-top: 0px;
    border-radius: 50px;
}

.form {
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 300px;
    background-color: #E0E0E0;
    height: 35px;
    position: relative;
    top: 14px;
    box-sizing: border-box;
    border-radius: 25px;
    border: 1px solid #019939;
    padding: 2px;
    margin-top: 0px;
    left: 60%;
}

.input {
    position: absolute;
    background-color: #E0E0E0;
    color: gray;
    top: 0;
    left: 0;
    width: 100%;
    height: 32.5px;
    line-height: 30px;
    outline: 0;
    border: 0;
    font-size: 0.9em;
    border-radius: 20px;
    padding: 0 20px;
}

.form .glyphicon {
    box-sizing: border-box;
    background-color: #E0E0E0;
    padding: 10px;
    width: 32.5px;
    height: 32.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #019939;
    text-align: center;
    font-size: 1em;
    transition: all 1s;
}

.form:hover {
    width: 380px;
    cursor: pointer;
    background: rgba(224, 224, 224, .5);
    color: gray;
    left: 59%;
}

.form:hover .input {
    display: block;
    background: rgba(224, 224, 224, .5);
    color: gray;
}

.icon-session {
    margin-left: 8px;
}


/* NOUVEAU CODE AJOUTE */


/*/
    DROPDOWN DE DECONNEXION
/*/

.dropdown-deconnexion {
    height: 60vh;
    background: transparent;
    border: none;
    width: 50%;
    left: 25%;
    position: fixed;
    top: 28vh;
    z-index: 45;
    display: none;
}


/**/

.modal-header-deconnexion {
    height: 20%;
    border-color: transparent;
    cursor: pointer;
}

.bi-x {
    color: white;
}


/**/

.modal-body-deconnexion {
    height: 80%;
    padding-top: 5%;
    padding-left: 0rem;
    overflow: none;
}

.blocItemDeconnexion {
    justify-content: center;
    align-items: center;
}

.itemBlocDeconnexion2>h6 {
    color: white;
    margin-top: 15px;
}

.itemImgBlocDeconnexion {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 1px solid #F4F4F4;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.itemImgDec {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}


/* NOUVEAU CODE AJOUTE FIN */


/*/
   NAVBAR FIXEE EN BAS (container des amis connectés)
/*/

.navbar-container-des-amis-connectes {
    background: linear-gradient(90deg, #008d0d, #336699);
    width: 100%;
}

.navbar-container-des-amis-connectes-mobile-xs {
    background: linear-gradient(90deg, #008d0d, #336699);
    display: none;
    width: 100%;
    overflow-x: scroll;
}

.container-des-elements {
    width: 200%;
    height: 38px;
    overflow-y: hidden;
    overflow-x: scroll;
    padding-left: 120px;
    position: relative;
    top: 5px;
}

.container-des-elements-mobile-xs {
    width: 405%;
    height: 25px;
    overflow: hidden;
    left: -10px;
    position: relative;
    top: 0px;
}

.ami-connecte {
    font-size: 0.7rem;
    color: white;
    margin-left: 5px;
    font-weight: bold;
}

.ami-connecte-mobile-xs {
    font-size: 0.6rem;
    color: white;
    margin-left: 5px;
    font-weight: bold;
}

.un-container-d-un-ami-connecte {
    width: 160px;
    cursor: pointer;
}

.un-container-d-un-ami-connecte-mobile-xs {
    width: 150px;
}

.container-des-amis {
    padding-bottom: 5px;
}


/*/
    CONTAINER DE L'ARTICLE 
/*/

.container-articles-block-view-articles {
    padding: 0%;
    margin: 0%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 80px;
    margin-top: 140px;
}

.row-articles-recommandations {
    margin: 0px;
}

.block-des-articles-et-commentaires-view-articles {
    background: #F4F4F4;
    border-radius: 3px;
    padding: 0 !important;
    z-index: 6;
}

.row-block-articles {
    padding-top: 20px;
    padding-left: 30px;
}

.un-article {
    background: white;
    padding: 15px 15px 0px 15px;
    margin-bottom: 30px;
    border-radius: 2px;
    height: 100%;
}

.derniere-publication-div {
    background: linear-gradient(90deg, #008d0d, #336699);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-top: 1px;
    height: 40px;
    padding-bottom: 1px;
}

.derniere-publication-div>p {
    margin-top: 7px;
    margin-left: 12px;
    color: white;
    font-size: 0.9rem;
}

.date-objet-div>.row {
    padding: 0 !important;
    margin: 0 !important;
}

.date-activite {
    background: linear-gradient(90deg, #008d0d, #336699);
    padding-top: 7px;
    padding-bottom: 5px;
    color: white;
    text-align: center;
}

.objet-et-heure>h6 {
    line-height: 25px;
    padding-top: 5px;
    font-size: 0.9rem;
}

.photo-nom-user-et-menu-de-la-publication-block {
    margin-top: 20px;
}


/* NOUVEAU CODE AJOUTE */

.block-menu-publication {
    width: 250px;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    background: white;
    position: absolute;
    right: 3%;
    z-index: 10;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    display: none;
    bottom: 8vh;
}

.block-menu-publication>p {
    color: #4A4B4B;
    font-size: 0.7rem;
    cursor: pointer;
}

.block-menu-publication>p:hover {
    font-weight: bold;
}


/* NOUVEAU CODE AJOUTE */

.navbar-brand,
.navbar-brand:hover {
    text-decoration: none;
    color: #4A4B4B;
}

.photo-publier {
    border-radius: 50%;
    border: 1px solid #E0E0E0;
    margin-right: 10px;
}

.nom-publier {
    font-size: 0.8rem;
    font-weight: bold;
}

.menu-publication-icon {
    cursor: pointer;
}

.publication-text {
    margin-top: 10px;
}

.publication-text>p {
    color: #4A4B4B;
    font-size: 0.75rem;
}

.temps-de-publication {
    font-size: 0.7rem;
}

.container-des-reactions {
    position: relative;
    top: 20px;
    height: 45px;
    left: 50%;
}

.bloc-reaction {
    height: 35px;
    width: 200px;
}

.reaction {
    margin-left: 7px;
}

.block-des-commentaires {
    margin-bottom: 30px;
    padding: 0 !important;
}

.block-un-commentaire {
    width: 94%;
}

.scrollable-div {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.contenu-content {
    margin-top: -15px;
    margin-bottom: -18px;
}

.un-commentaire {
    background: white;
    padding: 5px;
    padding-left: 20px;
    padding-right: 10px;
    border-radius: 2px;
    margin-bottom: 10px;
}

.comenter {
    font-size: 0.7rem;
    font-weight: bold;
    margin-left: -5px;
}

.coment-text {
    font-size: 0.7rem;
    margin-top: 10px;
    color: #4A4B4B;
}

.repondre-a-un-commentaire {
    margin-left: 10px;
    color: gray;
    cursor: pointer;
    text-decoration: underline;
}

.temps-de-publication-coment {
    font-size: 0.6rem;
    color: gray;
    margin-top: 10px;
}


/*/
   BOITE DE COMMENTAIRES
/*/


/* NOUVEAU CODE AJOUTE */

.couverture-du-commentaire {
    background: rgba(39, 55, 70, .55);
    position: fixed;
    left: 0%;
    top: 0px;
    width: 200%;
    height: 110vh;
    z-index: 20;
    display: none;
}


/* NOUVEAU CODE AJOUTE FIN */

.boite-de-commantaires {
    background: white;
    padding: 15px 20px 3px 20px;
    position: fixed;
    left: 28.8%;
    top: 40vh;
    border: 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 30;
    display: none;
}

.titre-du-commentaire {
    text-align: center;
    color: #4A4B4B;
    margin-bottom: 15px;
}

.background-fond {
    background: linear-gradient(to right top, #2c3e50, #1d4455, #074a54, #004f4f, #0b5345);
    padding: 0px;
}

.nom-publier-a-commenter {
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
}

.photo-publier-a-commenter {
    border-radius: 50%;
    margin-right: 5px;
    border: 2px solid white;
}

.temps-de-publication-a-commenter {
    font-size: 0.7rem;
    color: white;
}

.text-contenu-a-commenter {
    font-size: 0.6rem;
    text-align: center;
    margin-top: 20px;
    color: white;
}

.contenu-multimedia-a-commenter {
    margin-top: 5px;
}

.contenair-du-commentaire {
    height: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 5px;
}

.input-commentaire-bloc {
    margin-left: -10px;
}

.input-coment-submit {
    margin-top: 3px;
}


/* NOUVEAU CODE AJOUTE */


/* POPUP DE SUPPRESSION D'UNE PUBLICATION / POPUP DE SIGNALISATION D'UNE PUBLICATION / DESABONNEMENT USER */

.popup-supprimer-publication,
.popup-signaler-publication,
.popup-desabonnement {
    position: fixed;
    width: 42%;
    left: 29%;
    top: 42vh;
    background: white;
    padding: 15px;
    padding-bottom: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    z-index: 23;
    border-radius: 2px;
    display: none;
}

.supprimer-publication-title,
.signaler-publication-title,
.desabonner-user-title {
    color: #4A4B4B;
    font-weight: bold;
    font-size: 0.75rem;
}

.supprimer-publication-text,
.signaler-publication-text,
.desabonner-user-text {
    color: #4A4B4B;
    font-size: 0.7rem;
    margin-top: 10px;
}

.btn-oui,
.btn-non {
    color: #4A4B4B;
    font-size: 0.7rem;
    outline: 0px;
}

.btn-oui:hover,
.btn-non:hover {
    color: #336699;
    font-weight: bold;
}


/* NOUVEAU CODE AJOUTE FIN */


/*/
   SYSTEME DE CHAT
/*/

.grand-block-du-chat {
    border-radius: 4px;
    background: white;
    position: fixed;
    right: 30px;
    bottom: 80px;
    width: 250px;
    z-index: 20;
    display: none;
}

.container-du-haut-avec-fond-linear-gradient {
    background: linear-gradient(90deg, #008d0d, #336699);
    padding: 8px 0px 10px 0px;
    width: 250px;
    margin-left: -15px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.button-fermer {
    position: relative;
    left: 80%;
    cursor: pointer;
}

.block-du-text-et-la-photo {
    text-align: center;
    color: white;
    margin-top: 20px;
}

.block-du-text-et-la-photo>h6 {
    font-size: 1rem;
}

.block-du-text-et-la-photo>p {
    font-size: 0.75rem;
    margin-top: 5px;
}

.photo-destinataire {
    border: 2px solid white;
    border-radius: 50%;
    margin-top: 15px;
}

.container-des-messages {
    background: white;
    height: 200px;
    width: 107%;
}

.block-message-fixed {
    overflow-y: scroll;
    width: 100%;
    height: 98%;
}

.block-des-message-scroll {
    height: 200%;
    width: 100%;
}

.form-control {
    font-size: 0.85rem;
}

.container-de-l-input {
    margin-bottom: 0px;
    width: 250px;
    margin-left: -15px;
}

.container-de-l-input>input {
    border-radius: 0px;
    border-color: white;
    border-top-color: silver;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 15px;
}

.message-chat-input {
    margin-top: -5px;
}

.message-chat-send {
    margin-left: -10px;
    margin-top: -2px;
}


/*/
    SCROLL BARRE
/*/


/* width */

 ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border: 1px solid grey;
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #273746;
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #273746;
}


/*/
     FULL RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN
/*/


/*/
    ORDINATEUR PLUS LARGE (LG)
/*/

@media only screen and (min-width: 1500px) {
    .container-des-articles {
        max-width: 1500px;
    }
}


/*/
   ORDINATEUR DE PLUS DE 12.5 POUCES (LG)
/*/

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    /*/
        DROPDOWN DE DECONNEXION
    /*/
    .dropdown-deconnexion {
        width: 60%;
        left: 20%;
    }
    .itemImgBlocDeconnexion,
    .itemBlocActionMembres {
        height: 100px;
        width: 100px;
    }
    .itemImgDec {
        height: 65px;
        width: 65px;
    }
    /* POPUP D'INTERACTION SUR LES MEMBRES (VOIR LA LISTE DES MEMBRES */
    .container-des-interactions-sur-les-membres {
        width: 50%;
        left: 25%;
    }
    /*/
        CONTAINER DES CATEGORIES A GAUCHE
    /*/
    .titre-publicites {
        font-size: 0.65rem;
    }
    /*BOX DE PUBLICATION*/
    .block-box-publication {
        width: 65%;
        left: 17.5%;
    }
    /*/
        BLOCK DES ARTICLES AU CENTRE
    /*/
    .nom-publier {
        font-size: 0.68rem;
    }
    .publication-text>p {
        font-size: 0.73rem;
    }
    .temps-de-publication {
        font-size: 0.6rem;
    }
    /*/
        BOITE DE COMMENTAIRES
    /*/
    .titre-du-commentaire {
        font-size: 0.9rem;
    }
    .nom-publier-a-commenter {
        font-size: 0.8rem;
    }
    .temps-de-publication-a-commenter {
        font-size: 0.68rem;
    }
    /* POPUP DE SUPPRESSION D'UNE PUBLICATION / POPUP DE SIGNALISATION D'UNE PUBLICATION / DESABONNEMENT USER / PREVIEW COUVERTURE ET PROFIL */
    .popup-supprimer-publication,
    .popup-signaler-publication,
    .popup-desabonnement,
    .popup-supprimer-evenement,
    .popup-supprimer-membre,
    .popup-nommer-admin,
    .popup-retrograder-admin {
        width: 50%;
        left: 25%;
    }
    .popup-preview-photo-de-couverture,
    .popup-preview-photo-de-couverture-telechargee {
        width: 55%;
        left: 22.5%;
    }
    /* nouveau code ajouté fin*/
    /*/
     SYSTEME DE CHAT
    /*/
    .grand-block-du-chat {
        right: 20px;
        bottom: 70px;
        width: 220px;
    }
    .container-du-haut-avec-fond-linear-gradient {
        width: 220px;
    }
    .container-de-l-input {
        width: 220px;
    }
    /*POPUP CREATION D'UN NOUVEL EVENEMENT*/
    .popup-creation-nouvel-evenement {
        width: 50%;
        left: 25%;
    }
    /*CODE DU CONTAINER DE TOUS LES EVENEMENTS DE LA COMMUNAUTE*/
    .container-full-list-events-de-la-communaute {
        width: 60%;
        left: 20%;
    }
    .an-event>span {
        font-size: 0.68rem;
        margin-left: 5px
    }
    /* POPUP DE LA LISTE DES MEMBRES */
    .popup-de-la-liste-des-membres-de-la-communaute,
    .popup-de-la-liste-des-membres-recommandes-de-la-communaute {
        width: 60%;
        left: 20%;
    }
    /*POPUP FAIRE RECOMMANDATION*/
    .popup-faire-une-recommandation {
        width: 65%;
        left: 17.5%;
    }
}


/*/
    TABLETTES DE 10.33 POUCES MAXIMUM (MEDIUM)
/*/

@media only screen and (max-width: 991px) {
    /*/
        DROPDOWN DE DECONNEXION
    /*/
    .dropdown-deconnexion {
        width: 65%;
        left: 17.5%;
    }
    .itemImgBlocDeconnexion,
    .itemBlocActionMembres {
        height: 100px;
        width: 100px;
    }
    .itemImgDec {
        height: 65px;
        width: 65px;
    }
    /* POPUP D'INTERACTION SUR LES MEMBRES (VOIR LA LISTE DES MEMBRES */
    .container-des-interactions-sur-les-membres {
        width: 60%;
        left: 20%;
    }
    /**/
    .navbar-toggler {
        margin-top: -13px;
    }
    .btn-danger-devenir-membre {
        margin-top: 0px;
    }
    /* IMAGE DE COUVERTURE*/
    .block-membres-affiches {
        left: 2%;
    }
    .block-icons-menus {
        margin-left: 42%;
    }
    .block-icons-menus-galerie {
        margin-left: 30%;
    }
    /*/
    SECONDE NAVBAR : TOUT CE QUI EST CONTENU DANS LA NAVBAR
    /*/
    .logo-de-ngboado-dans-la-navbar {
        margin-left: 0px
    }
    .container-des-notifications-mobile {
        display: block;
    }
    .form {
        width: 300px;
        left: 50%;
    }
    .input {
        font-size: 0.8em;
    }
    .form:hover {
        width: 300px;
        left: 50%;
    }
    .searchbar-dropdown {
        width: 350px;
        margin-top: 8px;
        margin-left: -3.5%;
    }
    /*/
        CONTAINER DES CATEGORIES A GAUCHE
    /*/
    /* nouveau code ajouté 18 MAI 2020 (Stéphane Gourou) */
    .cover-modification-photo-profil {
        border: 23px solid #F4F4F4;
    }
    /* nouveau code ajouté fin */
    .container-des-articles {
        padding-left: 30px;
    }
    .titre-publicites {
        font-size: 0.65rem;
        margin-left: 15px;
    }
    /*BOX DE PUBLICATION*/
    .block-box-publication {
        width: 75%;
        left: 12.5%;
    }
    /*/
        BLOCK DES ARTICLES AU CENTRE
    /*/
    .row-block-articles {
        padding-top: 20px;
        padding-right: 20px;
        padding-left: 50px;
    }
    .un-article {
        margin-left: -15px;
    }
    .container-articles-block-view-articles {
        margin-left: 1.5%;
        margin-right: 2%;
        margin-bottom: 80px;
    }
    .block-des-articles {
        margin-left: 5%;
        margin-top: -60px;
    }
    .nom-publier {
        font-size: 0.7rem;
    }
    .publication-text>p {
        font-size: 0.72rem;
    }
    .temps-de-publication {
        font-size: 0.6rem;
    }
    /*/
        CONTAINER DES EVENEMENTS A VENIR DROITE 
    /*/
    .container-prochains-evenements {
        display: none;
    }
    /*/
        BOITE DE COMMENTAIRES
    /*/
    .boite-de-commentaires {
        width: 300px;
    }
    .titre-du-commentaire {
        font-size: 0.9rem;
    }
    .nom-publier-a-commenter {
        font-size: 0.75rem;
    }
    .temps-de-publication-a-commenter {
        font-size: 0.6rem;
    }
    /* nouveau code ajouté 18 MAI 2020 (Stéphane Gourou) */
    /* POPUP DE SUPPRESSION D'UNE PUBLICATION / POPUP DE SIGNALISATION D'UNE PUBLICATION / DESABONNEMENT USER / PREVIEW COUVERTURE ET PROFIL */
    .popup-supprimer-publication,
    .popup-signaler-publication,
    .popup-desabonnement,
    .popup-supprimer-evenement,
    .popup-preview-photo-de-profil,
    .popup-preview-photo-de-profil-telechargee,
    .popup-preview-photo-de-couverture,
    .popup-preview-photo-de-couverture-telechargee,
    .popup-supprimer-membre,
    .popup-nommer-admin,
    .popup-retrograder-admin {
        width: 64%;
        left: 18%;
    }
    /* nouveau code ajouté fin*/
    /*/
        SYSTEME DE CHAT
    /*/
    .grand-block-du-chat {
        right: 32%;
        bottom: 70px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }
    /*/
     NAVBAR FIXEE EN BAS (container des amis connectés)
    /*/
    .container-des-elements {
        padding-left: 0px;
    }
    .ami-connecte {
        font-size: 0.68rem
    }
    .container-des-amis {
        padding-left: 120px;
    }
    /*/
     BOITE DE COMMENTAIRES
    /*/
    .boite-de-commantaires {
        left: 18%;
    }
    /*POPUP CREATION D'UN NOUVEL EVENEMENT*/
    .popup-creation-nouvel-evenement {
        width: 65%;
        left: 17.5%;
    }
    /*CODE DU CONTAINER DE TOUS LES EVENEMENTS DE LA COMMUNAUTE*/
    .container-full-list-events-de-la-communaute {
        width: 70%;
        left: 15%;
        top: 22vh;
    }
    .an-event>span {
        font-size: 0.68rem;
        margin-left: 5px
    }
    .container-button-events {
        position: absolute;
        right: 0px;
    }
    /*/
        CODE DE LA PAGE GALERIE DE LA COMMUNAUTE
    /*/
    .container-de-la-galerie {
        padding: 0 !important;
        margin: 20px;
        margin-left: 20px;
        margin-top: 40px;
    }
    /* POPUP DE LA LISTE DES MEMBRES */
    .popup-de-la-liste-des-membres-de-la-communaute,
    .popup-de-la-liste-des-membres-recommandes-de-la-communaute {
        width: 80%;
        left: 10%;
    }
    /*POPUP FAIRE RECOMMANDATION*/
    .popup-faire-une-recommandation {
        width: 78%;
        left: 11%;
    }
}


/*/
    TABLETTES DE 8 POUCES MAXIMUM (SMALL)
/*/

@media only screen and (max-width: 767px) {
    /*/
        DROPDOWN DE DECONNEXION
    /*/
    .dropdown-deconnexion {
        width: 80%;
        left: 10%;
    }
    .itemImgBlocDeconnexion,
    .itemBlocActionMembres {
        height: 105px;
        width: 105px;
    }
    .itemImgDec {
        height: 70px;
        width: 70px;
    }
    /* POPUP D'INTERACTION SUR LES MEMBRES (VOIR LA LISTE DES MEMBRES */
    .container-des-interactions-sur-les-membres {
        width: 80%;
        left: 10%;
    }
    /* IMAGE DE COUVERTURE*/
    .block-icons-menus {
        margin-left: 29%;
    }
    /*/
    SECONDE NAVBAR : TOUT CE QUI EST CONTENU DANS LA NAVBAR
    /*/
    .logo-de-ngboado-dans-la-navbar {
        margin-left: 0px
    }
    .form {
        width: 250px;
        left: 50%;
    }
    .input {
        font-size: 0.7em;
    }
    .form:hover {
        width: 250px;
        left: 50%;
    }
    /* nouveau code ajouté 18 MAI 2020 (Stéphane Gourou) */
    .cover-modification-photo-profil {
        border: 30px solid #F4F4F4;
    }
    /* nouveau code ajouté fin */
    /*BOX DE PUBLICATION*/
    .block-box-publication {
        width: 88%;
        left: 6%;
    }
    /*/
     BLOCK DES ARTICLES AU CENTRE
    /*/
    .container-articles-block-view-articles {
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 80px;
    }
    .un-article {
        margin-left: -15px;
    }
    /*/
     CONTAINER A GAUCHE
    /*/
    .container-des-articles {
        padding-left: 0px;
    }
    .information-community-mobile {
        display: block;
        background: white;
        margin-left: 15%;
        display: none;
    }
    .container-profil-et-publicite {
        margin-left: 6%;
        margin-bottom: 80px;
    }
    /*/
     BOITE DE COMMENTAIRES
    /*/
    .boite-de-commantaires {
        left: 18%;
    }
    /*POPUP CREATION D'UN NOUVEL EVENEMENT*/
    .popup-creation-nouvel-evenement {
        width: 80%;
        left: 10%;
    }
    /*CODE DU CONTAINER DE LA LISTE DE TOUTES LES COMMUNAUTES DU USERS*/
    .container-full-list-events-de-la-communaute {
        width: 90%;
        left: 5%;
        top: 22vh;
    }
    /* POPUP DE SUPPRESSION D'UNE PUBLICATION / POPUP DE SIGNALISATION D'UNE PUBLICATION / DESABONNEMENT USER / PREVIEW COUVERTURE ET PROFIL */
    .popup-supprimer-publication,
    .popup-signaler-publication,
    .popup-desabonnement,
    .popup-supprimer-evenement,
    .popup-preview-photo-de-profil,
    .popup-preview-photo-de-profil-telechargee,
    .popup-preview-photo-de-couverture,
    .popup-preview-photo-de-couverture-telechargee,
    .popup-supprimer-membre,
    .popup-nommer-admin,
    .popup-retrograder-admin {
        width: 84%;
        left: 8%;
        background: white;
    }
    /* POPUP DE LA LISTE DES MEMBRES */
    .popup-de-la-liste-des-membres-de-la-communaute,
    .popup-de-la-liste-des-membres-recommandes-de-la-communaute {
        width: 95%;
        left: 2.5%;
    }
    .title-bloc-membres-communaute>h5 {
        color: #336699;
        font-size: 1.1rem;
    }
    /* nouveau code ajouté fin*/
    /*POPUP FAIRE RECOMMANDATION*/
    .popup-faire-une-recommandation {
        width: 95%;
        left: 2.5%;
    }
    .faire-recommandations-title-block>h5 {
        color: #336699;
        font-size: 1.1rem;
    }
}


/*/
    SMARTPHONES DE 6 POUCES MAXIMUM (EXTRA SMALL)
/*/

@media only screen and (max-width: 575px) {
    /*/
        DROPDOWN DE DECONNEXION
    /*/
    .dropdown-deconnexion {
        width: 85%;
        left: 7.5%;
    }
    /* POPUP D'INTERACTION SUR LES MEMBRES (VOIR LA LISTE DES MEMBRES */
    .container-des-interactions-sur-les-membres {
        width: 90%;
        left: 5%;
    }
    /*/
        BLOCK DES ARTICLES AU CENTRE
    /*/
    .row-block-articles {
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 40px;
    }
    .container-articles-block-view-articles {
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 80px;
    }
    /*/
     NAVBAR FIXEE EN BAS (container des amis connectés)
    /*/
    .navbar-container-des-amis-connectes {
        display: none;
    }
    .navbar-container-des-amis-connectes-mobile-xs {
        display: block;
    }
    /* nouveau code ajouté 18 MAI 2020 (Stéphane Gourou) */
    .cover-modification-photo-profil {
        border: 45px solid #F4F4F4;
    }
    /* nouveau code ajouté fin */
    /*BOX DE PUBLICATION*/
    .block-box-publication {
        width: 95%;
        left: 2.5%;
    }
    /*/
     BOITE DE COMMENTAIRES
    /*/
    .boite-de-commantaires {
        left: 0%;
    }
    /*POPUP CREATION D'UN NOUVEL EVENEMENT*/
    .popup-creation-nouvel-evenement {
        width: 90%;
        left: 5%;
    }
    /*CODE DU CONTAINER DE LA LISTE DE TOUTES LES COMMUNAUTES DU USERS*/
    .container-full-list-events-de-la-communaute {
        width: 96%;
        left: 2%;
        top: 22vh;
    }
    /* nouveau code ajouté 18 MAI 2020 (Stéphane Gourou) */
    /* POPUP DE SUPPRESSION D'UNE PUBLICATION / POPUP DE SIGNALISATION D'UNE PUBLICATION / DESABONNEMENT USER / PREVIEW COUVERTURE ET PROFIL */
    .popup-supprimer-publication,
    .popup-signaler-publication,
    .popup-desabonnement,
    .popup-supprimer-evenement,
    .popup-preview-photo-de-profil,
    .popup-preview-photo-de-profil-telechargee,
    .popup-preview-photo-de-couverture,
    .popup-preview-photo-de-couverture-telechargee,
    .popup-supprimer-membre,
    .popup-nommer-admin,
    .popup-retrograder-admin {
        width: 95%;
        left: 2.5%;
    }
    /* POPUP DE LA LISTE DES MEMBRES */
    .popup-de-la-liste-des-membres-de-la-communaute,
    .popup-de-la-liste-des-membres-recommandes-de-la-communaute {
        width: 98%;
        left: 1%;
    }
    /* nouveau code ajouté fin*/
    /*POPUP FAIRE RECOMMANDATION*/
    .popup-faire-une-recommandation {
        width: 98%;
        left: 1%;
    }
}