/*/
  INFORMATIONS :
  1- LES COMMENTAIRES DU CSS SERONT AFFICHES COMME CELA
  2- LE CODE DU STYLE SERA TRAITE LINEAIREMENT (Sur un ligne et non sur plusieurs comme d'habitude.)
     AINSI SI LE CODE NE TIENT PAS SUR UNE LIGNE ALORS L'ON POURRA PASSER SUR UNE AUTRE LIGNE
/*/


/*/
  DEBUT DU CODE CSS AVEC LA BALISE BODY
/*/

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*/
  LOADING PROGRESSION
/*/

.loading-level-one,
.loading-level-two,
.loading-level-three,
.loading-level-four {
    width: 25%;
    background-color: #00c816;
    height: 5px;
    position: absolute;
    display: none;
}

.loading-level-one {
    left: 0%
}

.loading-level-two {
    left: 25%;
}

.loading-level-three {
    left: 50%;
}

.loading-level-four {
    left: 75%;
}


/*/
  LE SLIDE DU COVER
/*/

.indexSlide {
    width: 100%;
    height: 100vh;
    opacity: 1;
    transition: 0.5s ease;
    position: absolute;
    top: 0;
    left: 0;
    background-position: center;
    background-size: cover;
}

.fadeOut {
    opacity: 0;
    z-index: -1;
}

.indexSlide:nth-child(1) {
    background-image: url("../ressources/img/RS-welcome-cover1.jpeg");
}

.indexSlide:nth-child(2) {
    background-image: url("../ressources/img/RS-welcome-cover2.jpeg");
}

.indexSlide:nth-child(3) {
    background-image: url("../ressources/img/RS-welcome-cover3.jpeg");
}

.indexSlide:nth-child(4) {
    background-image: url("../ressources/img/RS-welcome-cover4.jpg");
}

.indexSlide:nth-child(5) {
    background-image: url("../ressources/img/RS-welcome-cover5.jpg");
}

.indexSlide:nth-child(6) {
    background-image: url("../ressources/img/RS-welcome-cover6.jpeg");
}


/*/
  LOGO ET TEXTE DESCRIPTIF
/*/

.indexText {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: linear-gradient(180deg, #008d0d78, #245586);
}

.indexText .logo {
    height: 130px;
    width: 130px;
    border-radius: 80px;
    border: 5px solid #dcdcdc;
    padding: 10px;
}

.logoBlock {
    margin-top: 14vh;
}

.logoBlock div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.textBlock {
    margin-top: 7vh;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
    color: #dcdcdc;
}

.textBlock h1 {
    font-size: 35px;
    font-weight: bold;
    color: #dcdcdc;
}


/*/
  CONTAINER DES INFORMATIONS
/*/

.containerDesTexts {
    margin-top: 3vh;
    height: 40vh;
}

.textInfo2,
.textInfo3,
.textInfo4,
.textInfo5 {
    display: none;
    text-align: center;
}

.textInfo1 {
    text-align: center;
}

.btn {
    border-radius: 40px;
    padding: 7px 23px 7px 23px;
    font-weight: bold;
    margin-top: 3vh;
    font-size: 1rem;
}

.btnInfo1,
.btnInfo1:focus,
.btnInfo1:hover,
.btnInfo2,
.btnInfo2:focus,
.btnInfo2:hover,
.btnInfo3,
.btnInfo3:focus,
.btnInfo3:hover,
.btnInfo4,
.btnInfo4:focus,
.btnInfo4:hover,
.btnInfo5,
.btnInfo5:focus,
.btnInfo5:hover {
    padding: 7px 30px 7px 30px;
    background: tomato;
    border-color: tomato;
}

.textInformation {
    text-align: center;
    color: #dcdcdc;
    padding: 0px 20% 0px 20%;
    font-size: 1rem;
}

.imageAdmin {
    border: 1px solid #dcdcdc;
    border-radius: 50%;
    padding: 5px;
}

.bi-arrow-right {
    color: #dcdcdc;
}

.btnNext,
.btnNext:hover {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 0px;
    background: #008d0d;
}

.disagree,
.AllConditionDetails {
    color: #dcdcdc;
    font-size: 0.75rem;
    padding: 15px 3% 0% 3%;
    cursor: pointer;
    margin-bottom: 10px;
}

.disagree>span,
.AllConditionDetails>span {
    font-weight: bold;
    cursor: pointer;
}


/*/
    FULL RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN --- RESPONSIVE DESIGN
/*/


/*/
    ORDINATEUR DE PLUS DE 12.5 POUCES (LG)
/*/

@media only screen and (min-width: 993px) and (max-width: 1200px) {
    /*/
        LOGO ET TEXTE DESCRIPTIF
    /*/
    /*/
        CONTAINER DES INFORMATIONS
    /*/
    .textInformation {
        padding: 0px 10% 0px 10%;
    }
}


/*/
    TABLETTES DE 10.33 POUCES MAXIMUM (MEDIUM)
/*/

@media only screen and (max-width: 992px) {
    /*/
        LOGO ET TEXTE DESCRIPTIF
    /*/
    .indexText .logo {
        height: 120px;
        width: 120px;
    }
    .logoBlock div {
        height: 150px;
        width: 150px;
    }
    .textBlock h1 {
        font-size: 30px;
    }
    /*/
        CONTAINER DES INFORMATIONS
    /*/
    .textInformation {
        padding: 0px 8% 0px 8%;
        font-size: 1rem;
    }
}


/*/
    TABLETTES DE 8 POUCES MAXIMUM (SMALL)
/*/

@media only screen and (max-width: 768px) {
    /*/
        LOGO ET TEXTE DESCRIPTIF
    /*/
    .textBlock h1 {
        font-size: 26px;
    }
    /*/
        CONTAINER DES INFORMATIONS
    /*/
    .textInformation {
        padding: 0px 6% 0px 6%;
        font-size: 0.9rem;
    }
}


/*/
    SMARTPHONES DE 6 POUCES MAXIMUM (EXTRA SMALL)
/*/

@media screen and (max-width: 570px) {
    /*/
        LOGO ET TEXTE DESCRIPTIF
    /*/
    .indexText .logo {
        height: 120px;
        width: 120px;
    }
    .logoBlock div {
        height: 150px;
        width: 150px;
    }
    .textBlock h1 {
        font-size: 22px;
    }
    /*/
        CONTAINER DES INFORMATIONS
    /*/
    .textInformation {
        padding: 0px 6% 0px 6%;
        font-size: 0.9rem;
    }
}