@import "../../app/partials/utils/variables";

/* FIXED NAVBAR */
.navbar-top {
    background: #336699f9;
    position: fixed;
    top: 0;
    z-index: 40;
    width: $full-percent;
    .justify-content-lg-center {
        img {
            border: 1px solid $whiteTwo;
            padding: 5px;
            border-radius: 100%;
        }
        span {
            color: $whiteTwo;
            font-weight: $bold;
            font-size: $size-middle-lg;
            margin-left: 15px;
        }
    }

    .iconMenuPc {
        color: $whiteTwo;
    }

    .form-inline {
        cursor: pointer;
        a {
            text-decoration: none;
            color: $whiteTwo;
        }
    }
}

/* COVER CONTAINER */
.CoverContainer {
    height: 90vh;
    overflow: hidden;
    .Cover {
        height: $full-percent;
        overflow: hidden;
        background: linear-gradient(190deg, rgba(51, 102, 153, 9), #336699a5), url('../../assets/images/pexels-photo-7567565.webp');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @include centered;
        .textSlide {
            text-align: center;
            height: 100%;
            color: white;
            margin-top: 35vh;
            .titleSpacing {
                font-size: $size-normal;
                letter-spacing: 5px;
                font-weight: $normal;
            }
            .title1 {
                margin-top: 0vh;
                font-size: 3rem;
                font-weight: bold;
            }

            .title2 {
                font-size: 1.8rem;
            }
        }
    }
}

/* CONTAINER MENUS */
.container-menus {
    z-index: 50;
    background: linear-gradient(90deg, rgba(0, 23, 46, 9), #00172E7d);
    position: fixed;
    top: 0;
    left: 0;
    width: $full-percent;
    height: $full-vh;
    display: flex;
    align-items: center;
    justify-content: start;
    display: none;
    .menu-items {
        cursor: pointer;
        width: 350px;
        padding: 40px;
        margin-left: 10px;
        background: rgba(0, 23, 46, .9);
        border-radius: 5px;
        .row {
            width: $full-percent;
            padding: 0;
            margin: 0;
            @include centered;
            h3 {
                text-align: center;
                font-size: $size-great;
                color: $whiteTwo;
                margin-bottom: 5vh
            }
            .item {
                @include centered;
                letter-spacing: 5px;
                height: 35px;
                border: 1px solid $whiteTwo;
                border-radius: 3px;
                color: $whiteTwo;
                margin-bottom: 3vh;
                font-size: 0.7rem;
                a {
                    text-decoration: none;
                    color: $whiteTwo;
                }
            }
            .item-close {
                border: none;
                svg {
                    margin-top: 5vh;
                }
            }
        }
    }
}


/* CONTAINER SESSION */
.container-session {
    z-index: 50;
    background: linear-gradient(280deg, rgba(0, 23, 46, 9), #00172E7d);
    position: fixed;
    top: 0;
    left: 0;
    width: $full-percent;
    height: $full-vh;
    display: flex;
    align-items: center;
    justify-content: start;
    display: none;
    .menu-items {
        cursor: pointer;
        width: 350px;
        padding: 40px;
        margin-left: 10px;
        background: rgba(0, 23, 46, .9);
        border-radius: 5px;
        .row {
            width: $full-percent;
            padding: 0;
            margin: 0;
            @include centered;
            h3 {
                text-align: center;
                font-size: $size-great;
                color: $whiteTwo;
                margin-bottom: 5vh
            }
            .item {
                @include centered;
                letter-spacing: 5px;
                height: 35px;
                border: 1px solid $whiteTwo;
                border-radius: 3px;
                color: $whiteTwo;
                margin-bottom: 3vh;
                font-size: 0.7rem;
                a {
                    text-decoration: none;
                    color: $whiteTwo;
                }
            }
            .item-close {
                border: none;
                svg {
                    margin-top: 5vh;
                }
            }
        }
    }
    .session-blc {
        display: block;
        position: fixed;
        top: 25vh;
        right: 0;
    }
}

/* COURSES CONTAINER */
.contentContainer {
    padding: 0px;
    overflow: hidden;
    .menuCol1,
    .menuCol2 {
        padding: 0;
        margin: 0px;
        color: $white;
        background: #336699f9;
        .menu {
            padding: 0;
            padding-top: 50px;
            padding-left: 150px;
            .title {
                font-size: 32px;
                line-height: 44px;
                color: $white;
            }

            .details {
                font-size: 14px;
                line-height: 24px;
                margin-top: 25px;
                width: 70%;
                color: $white;
            }
            .levelBtn {
                background: none;
                margin-top: 20px;
                margin-bottom: 30px;
                border-radius: 15%;
                transition: all .3s ease;
                min-width: 155px;
                border-radius: 16px;
                height: 45px;
                display: inline-block;
                padding: 14px 28px 13px 28px;
                line-height: 1;
                border: 2px solid $white;
                font-family: "Raleway", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
                font-weight: bold;
                font-size: 11px;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: $white;
                &:hover {
                    color: $white;
                    background: transparent;
                }
            }
        }
    }
}



/* COPYRIGHT */
.copyright-div {
    height: 40px;
    margin-top: 30px;
    .copyText {
        text-align: center;
        color: #4A4B4B;
        font-size: 0.8rem;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

/*/ ---------------------------------------------------------- RESPONSIVE DESIGN (MAX WIDTH: 1200PX) -----------------------------------------------------------/*/
@media screen and (max-width: 1200px) {

}


/*/ ---------------------------------------------------------- RESPONSIVE DESIGN (MAX WIDTH: 992PX) ------------------------------------------------------------/*/
@media screen and (max-width: 992px) {
    /* COVER CONTAINER */
    .CoverContainer {
        .Cover {
            .textSlide {
                .title1 {
                    margin-top: 0vh;
                    font-size: 2.5rem;
                }

                .title2 {
                    font-size: 1.3rem;
                }
            }
        }
    }

    /* COURSES CONTAINER */
    .contentContainer {
        .menuCol1,
        .menuCol2 {
            .menu {
                padding-left: 40px;
                .title {
                    font-size: 25px;
                }

                .details {
                    font-size: 12px;
                    width: 90%;
                }
                .levelBtn {
                    margin-top: 25px;
                }
            }
        }
    }
}


/*/ ---------------------------------------------------------- RESPONSIVE DESIGN (MAX WIDTH: 768PX) ------------------------------------------------------------/*/
@media screen and (max-width: 768px) {
    /* COURSES CONTAINER */
    .contentContainer {
        padding: 0px;
        overflow: hidden;
        .menuCol1,
        .menuCol2 {
            padding: 0;
            .menu {
                padding: 0;
                padding-top: 50px;
                padding-left: 0px;
                text-align: center;
                .title {
                    text-align: center;
                }

                .details {
                    width: 90%;
                    text-align: center;
                    margin-left: 5%;
                }
            }
        }
    }
}

/*/ ---------------------------------------------------------- RESPONSIVE DESIGN (MAX WIDTH: 576PX) ------------------------------------------------------------/*/
@media screen and (max-width: 576px) {}