<div class="container-fluid animate__animated animate__fadeIn">
    <div class="row row-cont">
        <div class="col-lg-6 col-md-12 background-img">
            <img src="" alt="">
        </div>
        <!-- CONTAINER DES FORMULAIRES -->
        <div class="col-lg-6 col-md-12 forms-bloc">
            <div class="row">
                <!-- CONNEXION BLOC -->
                <div class="form-block connexion-bloc col-12 animate__animated animate__fadeIn">
                    <div class="row">
                        <h2> Heureux de vous revoir </h2>
                        <p> Entrez vos accès pour vous connecter </p>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Numero de téléphone" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Mot de passe" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <button class="btn btn-auth" routerLink="profil"> Connexion au compte </button>
                        </div>

                        <p class="p"> Veuillez <span class="btn-creation">Créer Un Compte</span> pour avoir accès aux formations </p>
                    </div>
                </div>

                <!-- INSCRIPTTION BLOC -->
                <div class="form-block inscription-bloc col-12 animate__animated animate__fadeIn">
                    <div class="row">
                        <h2 class="titreInscription"> Bienvenue Tr'aide Learning </h2>
                        <p> Entrer vos information pour créer un compte </p>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Nom complet" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Numéro de téléphone" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Mot de passe" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Confirmation" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <button class="btn btn-auth" routerLink="/home"> Création de compte </button>
                        </div>

                        <p class="p"> Déjà un compte ? <span class="btn-connexion">Connectez vous</span> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
