@mixin background-image {
    background-image: url('../../../assets/backgrounds/Ministere_background.png');
    background-size: cover;
    width: $full-percent;
    height: $full-vh;
    overflow: $no-overflow;
}

@mixin centered {
    display: flex;
    align-items: center;
    justify-content: center;
}
